[2017-10-18 18:42] BrianDGLS opened #3 "Ensure there is an explanation with each point"
Firstly thank you for publishing this list it's very useful.

I've noticed that some of the points have no explanation as to why they are needed.

As an example:
`A meta description is provided, it is unique and doesn't possess more than 150 characters.`

Why does it need to be provided?
Why does it need to be unique?
Why should it not possess more than 150 characters?
What happens if I don't incl

[2017-10-18 19:20] alizain opened #7 "Integrate with Lighthouse"
While the checklist is awesome, it would be more usable if it were integrated into an automated testing tool. Perhaps it would be worth adding them to [Lighthouse](https://github.com/GoogleChrome/lighthouse)

[2017-10-18 19:42] jitbit opened #10 "It's "robotS.txt" not "robot.txt""
subj :)

[2017-10-18 21:04] thedaviddias commented on #3
Indeed BrianDGLS, thanks to point that out. I plan to add much more explanations and have at least 2 links for each point to help understand better.

I'll start to include your suggestions in the next days. If you have any suggestion, don't hesitate to do a PR.

[2017-10-18 21:14] thedaviddias commented on #10
Ahaha, sorry I forgot that S! Adding now!

[2017-10-18 21:17] #10 closed

[2017-10-18 21:31] thedaviddias commented on #7
I was planning to build a simple but useful web app. I didn't think about adding some elements on Lighthouse...

[2017-10-18 21:59] normanbrobinson opened #17 "Trust and Scoping Web Content to Domains"
Needs to address having SSL certificates for authenticating the site and trusting content is from originating site. Seems like any front end development will be dependent upon a secure environment such that whatever is created is not hijacked with DNS poisoning of advert, man-in-the-middle attacks, trust, and generally keeping your wire-frames and transfer to partner sites planned properly.

- htt

[2017-10-18 22:15] alizain commented on #7
I was thinking the same (automating the checklist), but then I realized that Lighthouse exists, and it doesn't include any of these checks. The API is well designed, tests are organized by section, and it's really flexible, so you'd actually be able to test all these things fairly easily. And it runs on Chrome and Firefox (I think), so it would be a great all-in-one tool, without having to run/mai

[2017-10-18 22:16] alizain commented on #7
Relevant [architecture document](https://github.com/GoogleChrome/lighthouse/blob/master/docs/architecture.md) and [recipe for custom audit](https://github.com/GoogleChrome/lighthouse/tree/master/docs/recipes/custom-audit) - fairly straightforward...

[2017-10-18 22:37] tdmalone opened #18 "Duplicate licenses?"
[LICENSE](https://github.com/thedaviddias/Front-End-Checklist/blob/master/LICENSE) says MIT, but [README.md](https://github.com/thedaviddias/Front-End-Checklist/blob/master/README.md) says CC0.

I'm assuming you intended CC0 but just wanted to clarify.

Thanks for the excellent work!

[2017-10-19 00:00] chris-morgan opened #20 "I disagree with certain points of the favicon advice"
Why? It’s completely unnecessary, getting you absolutely nothing.

I strongly disagree with this; 16×16 and 32×32 are distinct design targets, and there is value in tweaking the design for the different sizes, mostly for optimal clarity at 16×16. You can use multiple `<link rel=icon>` elements with varying `sizes` attributes, but there are compatibility issues with doing that; it’s safest to have

[2017-10-19 00:01] chris-morgan opened #21 "dir and lang should be on html, not body"
The `dir` and `lang` attributes should be placed on the document root, not the body, because they apply to the head (title, descriptions, *&c.*) as well as the body.

[2017-10-19 00:49] frio opened #23 "No mention of Security"
I can't help but notice the lack of a section on Security.  As a suggestion, it may be worth adding some mention of SRI attributes where applicable, and ensuring CSP directives (alongside other useful stuff like CSRF protections) are included.

[2017-10-19 02:25] collinwu commented on #23
Was going to mention there's room for a security section

[2017-10-19 05:06] thedaviddias commented on #21
Thanks @chris-morgan, I can't believe I didn't see before that mistake! 😅 Indeed, it's on the ``body``, let me correct that.

[2017-10-19 05:08] thedaviddias commented on #18
Thanks @tdmalone, I think I did a mistake when I first created the repo. I'll update for CC0 not MIT. 😉

[2017-10-19 05:13] #18 closed

[2017-10-19 05:16] #21 closed

[2017-10-19 05:19] thedaviddias commented on #7
If you want to try adding some elements on Lighthouse, don't hesitate! The checklist is in public domain so you can use it as much and how you want 😊

I'll not be able to work on that at that time but probably soon.

[2017-10-19 05:22] Oblium opened #25 "Minification and HTP/2"
In the optimization section you state:

Minification: High All CSS files are minified. (Not for HTTP2)

Actually you should minify the CSS even with http2 because this protocol will compress Headers, not the body of communications.

Ref:
 * https://http2.github.io/http2-spec/compression.html

[2017-10-19 05:22] thedaviddias commented on #17
Indeed @normanbrobinson, all the security part needs to be added. Let me update you in the next days with new content about it.

[2017-10-19 05:24] thedaviddias commented on #25
Oops, yes @Oblium your are rignt. Only the concatenation part is different for HTTP/2. Thanks to point that.

[2017-10-19 05:27] #25 closed

[2017-10-19 05:32] thedaviddias commented on #23
@frio @collinwu indeed, that part is missing. Let me add that section and don't hesitate to comment on that.

[2017-10-19 06:50] MUCHZER opened #26 "Make website checkbox clickable"
Can we make website checkbox clickable and (why not) count them with a sticky counter on the bottom on the screen ?

Would be happy to work on this, I just dont know how to contribute if I'm doing javascript.

[2017-10-19 08:08] thedaviddias commented on #26
@MUCHZER, unfortunately Github don't allow the checkbox to be clickable 😕. I'm already working on a simple webapp with all the elements in the checklist.

I'll tell you when the repo will be on Github, I hope we'll be able to work on that together 😉

[2017-10-19 08:22] MUCHZER commented on #26
Great! Just @ me ;)

[2017-10-19 08:29] thedaviddias commented on #20
Hi @chris-morgan, maybe for the example, I need to add a subfolder like ``<link rel="icon" type="image/x-icon" href="https://example.com/img/favicon.ico" />``. Indeed, pointing to the root is not necessary.

I hesitated to put *PNG as recommended* but I found on canisue.com:
* While all browsers support the .ico format, the PNG format can be preferable (I provided the link on the checklist)

And o

[2017-10-19 08:41] #26 closed

[2017-10-19 09:18] MaskyS opened #28 "Add an animation section?"
Hey David, nice checklist! Here's a suggestion: I'm no professional, but from a user point of view, using animation can absolutely change the way users interact with websites if done right. Maybe add some stuff about this? Thanks again!

-Masky

[2017-10-19 09:27] thedaviddias commented on #28
Hey @MaskyS! I hesited to add that kind of section... But I don't know if it's something to put on that checklist... The Front-End, in general, integrate animations with CSS / JavaScript that are suggested by the creative team. Maybe at least a *check* can be added for the FE to ensure these animations are working properly on the website.

But I don't see this like a *requirement* that needs to be

[2017-10-19 10:14] alizain commented on #7
Understandable. Unfortunately I won’t have much time either. Just wanted to share an idea, and perhaps supplement your effort.

[2017-10-19 11:35] ferdiemmen opened #29 "Add structured data (schema.org) to SEO list"
I am missing a checkbox for structured data like schema.org.

Addition to the README.md
* [ ] **Schema schema.org:** ![High](http://res.cloudinary.com/djnyaloac/image/upload/v1508238836/level-checklist-high.png) Structured data helps crawlers understand the content in the current page.

[2017-10-19 11:54] XhmikosR opened #32 "DebugCSS link is broken"
http://yahoo.github.io/debugCSS returns 404.

[2017-10-19 14:06] thedaviddias commented on #29
Hi @ferdiemmen, I mentioned *structured data* in the HTML part.

Do you think, we need to duplicate the entry or remove from HTML and put on SEO?

[2017-10-19 14:08] thedaviddias commented on #32
Thanks @XhmikosR , I'll remove the link. 😉

[2017-10-19 14:10] #32 closed

[2017-10-19 14:25] ferdiemmen commented on #29
I think we should indeed remove it from HTML and add it to SEO. Structured data could be added on DOM elements but the preferred way nowadays is using ld+json.

[2017-10-19 14:27] thedaviddias commented on #29
Yes indeed, agree. Let's make the change.

[2017-10-19 14:32] #29 closed

[2017-10-20 08:57] thedaviddias commented on #23
I just add a first draft for the security section, don't hesitate to give me a feedback or make some changes.

[2017-10-20 15:56] omenking opened #41 "No digests for javascript files names?"
After concat and mini/uglify you generate a digest in the javascript file name.

eg. `application-xxxx.js`

It ensures that when js files change the cached version doesn't persist because it has a different name.

[2017-10-20 16:38] thedaviddias commented on #41
Yes @omenking, it's a good practice to have, do you want to make a PR and add some details about? But I wonder if it needs to be in the Front-End vs Back-End side? I know the digest can be generated by tools like gulp but it is something I'm not sure it's something that needs to be on the checklist... What do you think?

[2017-10-20 17:17] omenking commented on #41
It depends if you consider tools such as gulp, webpack etc...  front-end tools.
I think they are and would put them into the scope of 'front-end'

In order to insert such a url it would need to work with a template engine or a gulp script that would modify and replace with the latest cached digest.

I don't think it hurts to mention it, it just might be not worth-wild or tricky for websites then v

[2017-10-20 17:33] jimimaher opened #42 "Namespacing JS and RAIL for Performance"
It might be worth mentioning namespacing with JavaScript to keep things out of the global scope. I have found it's always important to namespace JS to limit conflict possibilities with other code that you may not be aware of. https://www.safaribooksonline.com/library/view/learning-javascript-design/9781449334840/ch13s15.html

Also, the RAIL performance concepts from Google are must have for UI per

[2017-10-20 17:53] volosovich commented on #20
Hey!
Your site http://frontendchecklist.com doesn't have favicon :)

[2017-10-20 18:26] thedaviddias commented on #41
Don't hesitate to do a PR to add something about that to the checklist! Like you said, *it hurts not to mention it*. 😉

[2017-10-20 18:27] thedaviddias commented on #20
Ahahaha @volosovich! Indeed but it's because it is generated by [Github Pages](https://pages.github.com/) and they don't give the possibilité to add a Favicon.

[2017-10-20 18:30] thedaviddias commented on #7
Thanks @alizain! Let's exchange about that soon and try to see what we can do on Lighthouse, maybe together 😉

[2017-10-20 18:30] #7 closed

[2017-10-20 20:02] volosovich commented on #20
http://yeoman.io/
https://github.com/yeoman/yeoman.github.io/tree/source/app
has favicon :)

[2017-10-20 20:05] thedaviddias commented on #20
Yes @volosovich, but it's because they are using [Jekyll](https://github.com/jekyll/jekyll) custom (generator-jekyllrb), it's something I'll probably use instead of default template by Github soon. 😉

[2017-10-21 14:03] dorian-delorme commented on #28
Hey,

I agree about the utility of an animation section, but maybe focus on performance ?
By the way, thanks @thedaviddias for this awesome checklist!

- Dorian

[2017-10-21 14:29] joriszwart opened #50 "5xx errors and external resources"
I cannot not find any source for this. Does [RFC 2616](https://tools.ietf.org/html/rfc2616#page-70) mention this in some way?

[2017-10-23 06:57] thedaviddias commented on #50
Hi @joriszwart, I put that for a simple reason, when you have an issue on a server, it happens that some resources can be inaccessible too. It's in general better to integrate the CSS and eventually the JS into the page.

I see that as a personal recommendation, so I'm not sure if that is written somewhere.

[2017-10-23 06:59] thedaviddias commented on #42
Hi @jimimaher, yes indeed is a best practice, but also depends on how you are structuring your website. Namespacing JavaScript using a JS Framework or ES6 is not really relevant on my POV. I'm not sure if that needs to be on that checklist... What do you think?

[2017-10-23 07:00] thedaviddias commented on #20
@chris-morgan what do you think, regarding my previous response?

[2017-10-23 10:53] miya0001 opened #58 "Japanese translation"
Hi,

It is just a ping. 😊

I translated it to Japanese.
https://github.com/miya0001/Front-End-Checklist

It is really nice work and helps us very much, Thanks.

Feel free to close this issue.  😊

[2017-10-23 11:27] thedaviddias commented on #58
Whoo! That's really nice @miya0001! Thanks a lot for that. I just add a section with your link on the Front-End Checklist! I will send you a ping when my Checklist Web app will be ready. I wish you will be able to help me for the translation!

[2017-10-23 11:36] miya0001 commented on #58
Oh thanks!

Nice 👍  I am looking forward to seeing your app. 😃

[2017-10-23 11:37] #58 closed

[2017-10-23 12:35] rubenvarela opened #59 "Labels, Search or Sorting"
Since the list itself is not sorted, I was trying to find the items marked `HIGH`.

The way it's constructed right now, it doesn't allow the search to work.

As a Enhancement to the list, I was thinking maybe they could be split into sections or possibly split into sections - High, Medium, Low - which would allow to easier go through the list.

If not, another option might be to add something besi

[2017-10-23 13:41] thedaviddias commented on #59
Hi @rubenvarela, indeed, someone already shared his difficulties to to have the list sorted.

Do you think, putting "High" first and "Medium" and "Low" after can facilitate?

[2017-10-23 14:10] rubenvarela commented on #59
I was looking at the list. Maybe an icon could be used to show High, Medium, Low. For example, a red exclamation mark, yellow triangle, green... (not sure which icon). After that icon, add the word High, Medium, Low.

That would allow for some color which helps draw attention to the level and also allows searching using "High", "Medium", "Low"

[2017-10-23 17:10] ferdiemmen opened #61 "Meta tags to indicate paginated content"
Hi @thedaviddias,

I saw the checklist is missing link tags for paginated lists. The following `<link>` tags would be added in the `<head>` on page 2 of a paginated list.

[code]

See: https://support.google.com/webmasters/answer/1663744?hl=en

[2017-10-23 18:31] kailashvele opened #63 "Addition in Performance: Chrome Audit Report"
Chrome's Audit provides more insights to the performance, accessibility, pwa and best practices. Those can help to build a better performant site. Let me know if you want me to add that to the repo. Cheers!

[2017-10-23 18:40] thedaviddias commented on #63
Hey @kailashvele! Yes sure, don't hesitate to propose a PR! Thanks!

[2017-10-23 18:41] joriszwart commented on #50
Plausible!

[2017-10-23 18:41] #50 closed

[2017-10-24 05:00] eoasakura opened #67 "Spanish translation *work-in-progress*"
Hi, i forked this repo and started a Spanish translation. You can find it here: [Front-End Checklist-ES](https://github.com/eoasakura/Front-End-Checklist-ES)

The `README.md` is almost done. If someone can help with fixes or examples on Spanish that would be cool. `CODE_OD_CONDUCT.md` file pending.

Any help with translation would be great.

Thanks to everyone making this project.

[2017-10-24 06:03] thedaviddias commented on #67
Hi @eoasakura, thank you so much for that work! I just pushed a reference to your translation. I hope it will help you to find some people!

I will keep that issue open for few days 😉

[2017-10-24 07:38] kesuskim opened #69 "Korean Translation is work in progress"
Hello! I forked this repository and started to work to translate into Korean. Here is repo; [here](/kesuskim/Front-End-Checklist)

I just forked it, so have some things to do bit, but will do within 2 days. :)

Thank you for making this project.

[2017-10-24 10:59] thedaviddias commented on #69
Hi @kesuskim and thanks for starting that work! I'll leave the issue open for few days to help you to find some people to help you.

I just added your repo in the "Translation" section. Good luck and thanks for your work and support!

[2017-10-24 11:01] thedaviddias commented on #61
Hi @ferdiemmen, yes indeed, I removed that from my original list. I need to find some articles I read about that recently which put me in doubt if it's really needed.

Let me find that and I'll let you know about in max 2 days! 😉

[2017-10-24 18:31] karllhughes opened #74 "Making this part of a build process"
I'm a big checklist fan, so thanks for making this. Have you heard of any effort to make the checklist part of an automated build/test process? For example, having a step in a travis build process that will fail if the home page of your site (or other URLs) don't adhere to the checklist?

Just a thought. I don't think I have the technical chops to implement this, but would love to see it.

[2017-10-24 19:19] jcezarms opened #75 "Brazillian Portuguese translation - Work in Progress"
I am vastly grateful for this checklist, so I think this is the smallest thing I could do for it.

[This](https://github.com/jcezarms/Front-End-Checklist) is the fork, some remarks:
- Just finished the README translation;
- I translated most of the documentation articles' titles for readability, do ping me back if you think it's better to revert them;
- Should have the Code of Conduct done by two

[2017-10-24 19:29] edbrannin opened #76 "Convert `[ ]` to checkboxes on http://frontendchecklist.com/"
The homepage isn't showing GitHub-style checkboxes at the start of each item.

Perhaps this can be fixed in the build process?

On GitHub:

![image](https://user-images.githubusercontent.com/121909/31963823-059dd43e-b8d0-11e7-87f5-1fecbf10386a.png)

Homepage:

![image](https://user-images.githubusercontent.com/121909/31963845-150aec72-b8d0-11e7-8ef8-1ccd69550e33.png)

[2017-10-24 19:32] edbrannin opened #77 "High/Medium/Low buttons have excessive margin/padding on Chrome (Win7)"
High/Medium/Low buttons have excessive margin/padding on Chrome (Win7)

On GitHub:

![image](https://user-images.githubusercontent.com/121909/31963823-059dd43e-b8d0-11e7-87f5-1fecbf10386a.png)

Homepage:

![image](https://user-images.githubusercontent.com/121909/31963845-150aec72-b8d0-11e7-8ef8-1ccd69550e33.png)

CSS rules:

![image](https://user-images.githubusercontent.com/121909/31963957-73479a

[2017-10-24 19:48] jakecarr opened #78 "Typo in first line of README"
### I think the README file should say:

The Front-End Checklist is an exhaustive list of all elements you need to have / to test before launching your site / **HTML page** to production.

### And not:

[2017-10-24 20:55] jcezarms commented on #75
Actually just finished the Code of Conduct translation. \o

[2017-10-24 22:08] larrydan2003 opened #79 "WHERE DO I BUY REAL PASSPORT, ID CARDS, DRIVERS LICENSE, SOCIAL SECURITY CARD/SSN, GREEN CARD, GUN LICENSE, VISA, BIRTH CERTIFICATE, DUMPS, CREDIT CARDS"
BEST PLACE TO BUY REAL PASSPORT, ID CARDS, DRIVERS LICENSE, SOCIAL SECURITY CARD/SSN, GREEN CARD, GUN LICENSE, VISA, BIRTH CERTIFICATE, DUMPS, CREDIT CARDS:::Email: mattiablake1@yahoo.com

We are the Best, Reliable and Most Recommended producers of High quality Novelty and Real documents such as:

Passport,
IDs.
SSN,
Social Security Card,
Visa,
Permits,
gun License
US Green card,
SIN,
Birth Certif

[2017-10-25 00:37] thedaviddias commented on #78
Thanks @jakecarr for that correction!

[2017-10-25 00:39] thedaviddias commented on #77
Hi @edbrannin, indeed, I saw that. Because I'm using a template generated by Github Pages, I can do modifications on the CSS.

But I'm working on a replacement for that page, please wait only few days, and the page will be visually better 😉

[2017-10-25 00:41] thedaviddias commented on #76
Same response [#77](https://github.com/thedaviddias/Front-End-Checklist/issues/77), can't be fixed for now.

[2017-10-25 00:48] thedaviddias commented on #75
Oi @jcezarms, até podia ter feito também a traduçao mas o tempo me faltou! Muito obrigado pela contribiuçao e ajuda!

Vendo o impacto desse projeto, sim tudo vai ser feito para facilitar a internacionalização da lista.

Estou agora mesmo trabalhando numa amelioraçao da pagina que se vê no endereço frontendchecklist.com.

[2017-10-25 00:49] thedaviddias commented on #17
@normanbrobinson I added a security section, what do you think?

[2017-10-25 00:55] thedaviddias commented on #74
@karllhughes, yes it's something that few people seems to be asking. For now, I'm working on a new page for frontendchecklist.com. Just after, I have few options:
- doing from scratch a tool to give the possibility to test single HTML pages
- find a way to integrate some tests on [LightHouse](https://developers.google.com/web/tools/lighthouse/)
- I need to see if I can implement something on travi

[2017-10-25 01:01] mauii14 opened #81 "Accessibility Expansion + Animation"
## Accessibility section should include

 **Title Tags and Image Tags**
   - provide text to screen readers.  This is important for developers to understand.
- Titale tags also tell screen readers where the link goes

**Color Contrast**
- this section should include links to multiple palette tools, including
-  Paletton
-   Palette.io

**Colors should not be hard-coded**
`color: #white ;`
this is

[2017-10-25 01:08] thedaviddias commented on #81
Hi @mauii14, thanks for all these elements! Don't hesitate to do a PR, but in all cases, I'll analyze and add your requests in the next hours.

(don't know how I forgot to mention the essential "skip menu" 😱)

[2017-10-25 01:21] jcezarms commented on #75
Opa! Isso é extremamente animador! Pode me acionar se for interessante a ajuda em qualquer ponto, estou à disposição. :blush:

[2017-10-25 01:35] thedaviddias commented on #75
@jcezarms ah sim, esqueci de falar que addicionei seu repo na parte "[Translation](https://github.com/thedaviddias/Front-End-Checklist#translation)". Até! 😉

[2017-10-25 05:11] SVGE opened #83 "Minor typo"
Hi there! This checklist is super awesome and helpful, thanks! There’s a very minor typo/error that I caught: “Cross Site Request Forgery (CSRF): You are ensure that requests made to your server-side are...”
Instead of “you are ensure”, I suggest just “you ensure (remove “are”).

Nitpicking for sure! Thanks again for this. Cheers!

[2017-10-25 05:41] thedaviddias commented on #83
Hi @SVGE! Thanks for the flag! All errors are important to be corrected so it's not nitpicking 😀

I [corrected it](https://github.com/thedaviddias/Front-End-Checklist/commit/a533379072575d7ddff443764fb85e39719f3266)!

[2017-10-25 05:41] #83 closed

[2017-10-25 05:44] thedaviddias commented on #78
Hi @jakecarr, I just pushed [your point](https://github.com/thedaviddias/Front-End-Checklist/commit/e2dc423fc1211fb30a694cb6ea4f1118481732de).

Thanks and don't hesitate to do a PR if you find something else ;)

[2017-10-25 05:44] #78 closed

[2017-10-25 08:42] kesuskim opened #85 "Adding list tag to newly added resources"
It seems list tag is missing here ;)

![image](https://user-images.githubusercontent.com/7637982/31988961-c9cfbd1e-b9ab-11e7-9b70-965dcf477fcd.png)

[2017-10-25 09:21] thedaviddias commented on #85
Shh... yes indeed, I forgot it 😅 Correcting now.

[2017-10-25 09:21] #85 closed

[2017-10-25 10:10] MarcoHengstenberg opened #86 "Add lang-Attribute note"
It would make a lot of sense to tell developers that a lang-Attribute is always needed in the HTML element (first section with doctype).
The point is that screenreaders will automatically switch their language-mode when a lang attribute is present. That way the reader will not announce in a different language than present on the page.

[2017-10-25 10:32] thedaviddias commented on #86
Hi @MarcoHengstenberg, I'm not sure if I clearly understand your request... Did you saw that the `lang`is in the [next section](https://github.com/thedaviddias/Front-End-Checklist#html-tags)?

[2017-10-25 12:15] webdevan opened #88 "Image dimensions best practices confusion"
I'm busy working through this excellent checklist but I am confused by this one point under `Images`. Does anyone know what is meant by this?

I think the wording is confusing, so I might be missing the point but my understanding about image dimensions is for 90% of cases you'll want the image dimensions to be responsive (width: 100%; height: unknown) because you usually want images to fill their

[2017-10-25 13:18] thedaviddias commented on #88
I'm sorry @webdevan, maybe I need to review my wording and explain better.

The point is that even you put `widht="150" height="150"`, you can override with CSS and have responsive images. It's a good practice to have always dimensions on your image to help the browser to load faster the images.

Check my small example: https://codepen.io/thedaviddias/pen/wrVBqy

[2017-10-25 13:58] webdevan commented on #88
Hi @thedaviddias, I think I understand now.

Do you agree with this answer on Stackoverflow? https://stackoverflow.com/a/18844438

Sure, you can have width & height attributes on the image and override it in CSS, but then (as in your example), you don't get the benefits of both (correct me if I am wrong).

Perhaps it's better to say width and height attributes are good for small images, but doesn'

[2017-10-25 14:32] webetcaetera opened #92 "Preprocessor"
In the CSS part, perhaps the use of a preprocessor can be upgraded to LOW or even removed?
A preprocessor is just an option, but not a guarantee of quality.
If used, ok for the SASS recommendation, especially for beginners.

[2017-10-25 14:35] webetcaetera opened #93 "Alternative text:"

[2017-10-25 14:54] #93 closed

[2017-10-25 15:10] MrSunshyne commented on #92
Agree on the mention of preprocessor. I would even recommend not using preprocessors at all if possible. But rather use css custom properties(as variables)

If mixins are required in the project, then unfortunately you must use a preprocessor, since the `@apply` rule is not likely to be implemented natively anytime soon.. :(

Recommend : `low`

[2017-10-25 15:25] thedaviddias commented on #92
Thanks for sharing your POV. I'll change and put it as "low" recommendation.

[2017-10-25 15:56] MarcoHengstenberg commented on #86
Oh. Nope, I didn't see that. After not seeing the lang-Attribute on the `<html>` element I search the readme for "lang-attribute" to no avail.
Then I'd suggest renaming that section to `lang-Attribute` instead of `Language tag`. :)

[2017-10-25 15:59] thedaviddias commented on #86
Voilà :)

[2017-10-25 16:06] MarcoHengstenberg commented on #86
Merci Monsieur 😁

[2017-10-25 16:07] MarcoHengstenberg commented on #86
Oh noes.

[2017-10-25 17:04] jakecarr commented on #78
No problem @thedaviddias 😄  I shall have a look

[2017-10-25 17:37] FreakDroid commented on #67
@eoasakura  I was checking the translation (only I scanned but when I have time go on details) and I think was awesome but the only thing that I can suggest and help is, putting the link's label in spanish and in the end (English) for instance:

Original link:

Translated link:

What do you think? I think when the reader is reading the doc, won't feel that the document is not full translated.

Tha

[2017-10-25 17:43] eoasakura commented on #67
Seems like a good idea and make more sense, I'm going to try and make changes but if you have time, feel free to make a pull request for it.

Thanks for the suggestion

[2017-10-25 17:55] FreakDroid commented on #67
@eoasakura Ok, I forked your repo and today at evening I should start. Thank you guys :smile:

[2017-10-25 19:49] antarestupin opened #95 "Page size limited to 500KB?"
I don't see the arguments of limiting the page size to 500KB in the links under the recommandation in [the performance section](https://github.com/thedaviddias/Front-End-Checklist#best-practices-4). I agree that pages should be light, but 500KB seems arbitrary.

As the ideal size of a page depends on too many things, I would recommend to replace this limit by the use of a performance budget, which

[2017-10-25 20:26] webdevan commented on #3
Its nice to use this as a checklist of things to check (short bullet points). Links to more info are great, but I think it's good to keep the checklist brief (and just link to other pages for the reasoning).

[2017-10-25 21:01] webdevan commented on #63
Perhaps a whole section at the end linking to automated testing tools for final checks? Lighthouse, Pagespeed insights, Passmarked, SEO crawlers, etc.

[2017-10-25 22:02] frio commented on #23
Brilliant!  For reference, my little `nonfunctional.md` file contains the following points for security:

 * HSTS ✅
 * CSRF ✅
 * CORS ✅
 * XSS protection ✅
 * Content Security Policy
 * SRI hashes where possible

You've got stuff I'm missing (like X-Frame-Options), so I'll quietly copy/paste those in :).  SRI and Content Security Policy are both probably worth a mention :) -- CSP is probably a "hi

[2017-10-26 02:24] thedaviddias commented on #63
@webdevan, yes, absolutely, it's something I want to add in the next days, but fill free to put a list here if you want.

[2017-10-26 02:25] thedaviddias commented on #3
@webdevan, good point too indeed and it was the first purpose of the checklist: having something short but with enough information.

[2017-10-26 05:19] thedaviddias commented on #92
@webetcaetera, if you agree please close the ticket. Thanks and don't hesitate if you find something else that need corrections.

[2017-10-26 05:22] thedaviddias commented on #23
Don't hesitate to propose (in a PR) a change in the priority if you don't agree. Thanks for your support @frio (frio means cold in portuguese :D). Hopefully, that checklist will improve a lot in the next days.

[2017-10-26 05:23] #69 closed

[2017-10-26 05:23] #75 closed

[2017-10-26 05:44] thedaviddias commented on #59
Hi @rubenvarela, I prefer to review any big change after launching the Front-End Checklist Web App. You'll be able to filter and sort easily 😀.

I will maintain the issue open until I finish it in the next days.

[2017-10-26 05:46] kailashvele commented on #63
I always have the dilemma whether there should be checklist for three phases 1) Before development 2) While development and 3) After development.

But then if the objective is to make sure that things are correct before going to Production then the 3rd one is fine.

But performance and all those factors are pretty tedious to tackle if checked at the end and developers most of time opt out of it du

[2017-10-26 06:02] thedaviddias commented on #63
Interesting point indeed @kailashvele. Elements in the checklist are to be taken into consideration during the development. I don't think people need to "check" that list only before going to production.

It's not easy to separate these elements into different phases, performance is related to what the developer do during the development but also at the end. Don't hesitate to go on [Gitter](https:

[2017-10-26 06:04] thedaviddias commented on #86
@MarcoHengstenberg better now?

[2017-10-26 07:59] tomekmy commented on #77
Hi. While working on a new version of the site you can add a selectable checkboxes feature with progress bar.

Something like this: https://jonyablonski.com/designers-wpo-checklist/#top

[2017-10-26 09:18] thedaviddias commented on #77
Thanks @tomekmy, it's already implemented :)

Users will be able to see the progress of each section (head, images, html...).

But that could be a good idea to have a general bar too. Thanks for the link!

[2017-10-26 10:15] webetcaetera commented on #92
Thanks :)

[2017-10-26 10:15] #92 closed

[2017-10-26 10:40] miya0001 opened #98 "Key words for use in RFCs to Indicate Requirement Levels"
There is a specification about the requirement levels in RFC.
http://www.ietf.org/rfc/rfc2119.txt

[code]

If you already know, it is no problem.
I don't think it has to be respected at this project. It is just an information. ☺️

Thanks 😊

[2017-10-26 13:19] MarcoHengstenberg commented on #86
Wonderful! Many thanks. :)

[2017-10-26 13:19] #86 closed

[2017-10-26 19:54] MrSunshyne commented on #88
@webdevan If i may explain, in other words having the width height specified in the markup avoids FOUC ( Flash Of Unstyled Content ) and is recommended practice. That way the space can be reserved even before the browser downloads the image and calculates the height.

[2017-10-26 20:41] MikeParkin commented on #74
How about building a command line application that you could pass either a local static HTML file or a URL to and have it scan and produce output for each rule.

It is possible to build apps like this quite quickly using PHP (which I imagine is used a lot for people building websites and looking at these links). It's possible to build them using a very lightweight symfony console application ( htt

[2017-10-27 00:55] webdevan commented on #88
@MrSunshyne understood.

My point is that one usually doesn't know what size window the website will be loaded in, therefore you can't predict the page width nor column width that the image will appear inside of. So you may have an image that is 1200x600 render on a screen that is 320px wide, so it doesn't help to set <img width=1200 height=600> at all. The wrong space will be reserved for the ima

[2017-10-27 10:13] #67 closed

[2017-10-27 19:15] yashghelani opened #108 "No HTTPS"
Under the security section, the [site](http://frontendchecklist.com) mentions the use of HTTPS yet the [site](http://frontendchecklist.com) itself doesn't use it

[2017-10-27 19:58] thedaviddias commented on #108
Hi @yashghelani, thanks for your comment, but It would be better to ask instead of giving a negative comment.

As you may not know, Github doesn't allow using HTTPS when a custom domain is used through Github Pages.

![screen shot 2017-10-27 at 23 55 13](https://user-images.githubusercontent.com/237229/32122692-49d38bd6-bb72-11e7-98ac-45a0088dc2de.jpg)

In the next days, a new version will come ou

[2017-10-27 20:25] yashghelani commented on #108
Hey. I didn't mean to point out this issue in a negative way. Sorry about my tone. I didn't know this site was hosted on GH Pages (My fault here. I should have noticed the CNAME file in the repo). Hope to seeing HTTPS soon :)

[2017-10-27 20:28] thedaviddias commented on #108
You are completely forgiven 😅. You'll tell me next week what do you thing about the new app!

[2017-10-27 20:28] #108 closed

[2017-10-28 05:32] sanchitcop19 opened #110 "Minor typo pertaining to the character limit"
There is discrepancy between the character limit specified between the title tags (65) and the one in the description (55).

[2017-10-28 08:40] MrSunshyne commented on #88
@webdevan I understand your point, and i have encountered such issues myself(yesterday actually), where an image that is 1200x600 is rendered on a 320px area.

The thing is though, we should not be loading larger images than needed 😅

It becomes a situation where we're avoiding one good practice(set w/h) so that a bad practice(don't set w/h) doesn't look so bad. It becomes tricky.

It's also not t

[2017-10-28 10:17] webdevan commented on #88
@MrSunshyne, i've been thinking about this one some more. lets look at how a page actually loads...

if you have blocking CSS in your `<head>` then you will get a white screen until the CSS has loaded (so you can set img width/height in CSS or on the `<img>` tag - it will make no difference to the rendering because the screen will be white - but CSS is better because it lets you do more: media que

[2017-10-30 00:40] Eishpirate opened #118 "Collate these into an ESLint Ruleset"
Hey all,

Not sure if this is the right forum for this, but wouldn't it be great if we could just run an ESLint Ruleset for all these rules, rather than having to manually check them everytime you do a Production release?

Else maybe a Webpack addon?

Or am I being silly?

[2017-10-30 05:12] esr360 opened #120 ""Portuguese" language should use Portuguese flag"
The "Portuguese" port is showing the Brazilian flag, I think it would make more sense to show the Portuguese flag.

[2017-10-30 06:11] thedaviddias commented on #120
Hi @esr360,

I don't understand the "more sense"...

I put the flag knowing that who made the traduction is Brazilian. You can find everywhere distinction between "Portuguese" from "Portugal" and "[Portuguese](https://en.wikipedia.org/wiki/Brazilian_Portuguese)" from "Brazil" because event Portuguese from Brazil is based on which coming from Portugal, it exists a lot of different words and express

[2017-10-30 06:14] thedaviddias commented on #118
Hey @Eishpirate, no I'm sure you are absolutely not silly 😅

ESLint is only for JavaScript rules and doesn't apply to a lot of elements you can find in the checklist. The closest tool is Lighthouse who test some elements we have here, but not all.

As soon as the checklist will be stabilized, maybe some elements will be integrated into Lighthouse or a specific tool will be made.

[2017-10-30 06:15] thedaviddias commented on #118
Oh and a new type of link will maybe show some existing package that can help to automate some tests (gulp, webpack and npm packages)

[2017-10-30 12:43] jcezarms commented on #120
I am the one who translated it, and like @thedaviddias said, it's in Brazillian Portuguese.
I reckon there are some (_many_) changes one should make in order to make it Portuguese as in Portugal's official idiom, and would love to help in such a fork.

[2017-10-30 12:53] esr360 commented on #120
Makes sense! I mistakenly thought it was more along the lines of seeing something like: 🇺🇸English 😅

[2017-10-30 12:55] thedaviddias commented on #120
No problem 😀.

[2017-10-30 12:55] #120 closed

[2017-10-31 17:21] jimimaher commented on #42
@thedaviddias I'm thinking you're right. If anything, maybe a line about "any global variables are not generic..." would be helpful but still may not apply to all applications. Thanks!

[2017-10-31 17:21] #42 closed

[2017-11-01 04:20] thedaviddias commented on #110
Issue fixed! Thanks.

[2017-11-01 04:20] #110 closed

[2017-11-01 04:39] sanchitcop19 commented on #110
No problem! 😅

[2017-11-02 03:41] thedaviddias opened #133 "Add open collective shield"
Add the open collective badge when it'll be working:

[code]

[2017-11-02 04:16] Daniel-Hug opened #134 "role attributes on <nav> and <main> are superfluous"
This is the **Landmarks** section under **Accessibility** > **Best Practices**:

#### Landmarks

- [ ] **Role banner:** High `<header>` has `role="banner"`.
- [ ] **Role navigation:** High `<nav>` has `role="navigation"`.
- [ ] **Role main:** High `<main>` has `role="main"`.

---

Comments:
- The second link is a 404.
- The HTML5 elements mentioned here already come with an implied role. In 2012 t

[2017-11-02 11:14] famer commented on #50
That's questionable, because 5xx could be result not of the server's down state, but server failure with particular request, "not implemented", data errors, etc...

[2017-11-02 14:13] Leakermeli commented on #118
ohhh that is so interesting

[2017-11-03 10:19] ynizon opened #137 "Can you add my french translation to your readme ?"
https://github.com/ynizon/Front-End-Checklist/blob/master/README.md

thanks

[2017-11-03 18:02] alifouad991 opened #138 "How to use it"
Hello thanks for your support can you tell me how to use it do i need to upload it to my server and run some file or how please do let me know

[2017-11-03 21:21] benface commented on #92
I would be for removing the preprocessor recommendation altogether, as I believe it's the only point in the whole list that is 100% about tooling and not about the final result (that the browser sees).

[2017-11-03 23:59] lucalves commented on #138
Hello, @alifouad991. From what I understand, it's just an informative repository of best practices within front-end web programming.

[2017-11-04 05:50] thedaviddias commented on #138
Hi @alifouad991 and @lucalves, in the next days I'll launch a dynamic tool to facilitate the use of the checklist in your workflow.

But for now, I don't have a tool that can test your page... for now.

[2017-11-04 05:51] thedaviddias commented on #137
Thanks @ynizon for the translation! I'll add your repo in the translation section ;)

[2017-11-04 05:53] #137 closed

[2017-11-05 23:21] elliottregan commented on #134
These roles are still needed. Even recent versions of VoiceOver fails to show these regions in the rotor.

The second link works for me.

[2017-11-06 08:34] wangyudongdom opened #139 "How to use it with https://github.com/wisdomtool/rest-client ?"
[Wisdom Tool REST Client](https://github.com/wisdomtool/rest-client) supports automated testing RESTful API and automatically generating RESTful API documentation.

Not sure how to use Front-End-Checklist with it?

[2017-11-06 11:02] matt-bailey opened #140 ""Sass is preferred""
That's a big assumption to make... Sass is preferred by whom? By you, by me, by the Overlords of Planet CSS?

It might be more correct to say Sass is (probably) the most popular CSS preprocessor, but many people choose to use (or are forced to use due to framework restrictions) LESS or Stylus for example.

Personally I don't care which preprocessor is used, as long as you use one. The end result i

[2017-11-06 16:17] juanpagfe commented on #140
Hi. I support this idea because, as the `README.md` says

We could add some notes about recommended technologies, but I don't think the use of a CSS preprocessor is a to-have thing for a website.

[2017-11-08 15:30] MrSunshyne commented on #140
There was a similar discussion on a closed issue here : #92

Right now the checklist says "Your page is using a CSS preprocessor [low] (Sass is preferred)"

Recommend changing the sentence to "The _project_ is using a CSS preprocessor or postprocessor. [low] (SASS is recommended as preprocessor)"

1. The page(in browser) cannot use a preprocessor technically, so change wording to say it's in the p

[2017-11-08 15:49] andydavies commented on #20
There are other HTTP clients (bookmarking services etc) that will look for favicon.ico in the root.

And if there's not one there they'll get a 404, and if you serve a custom error page then they'll get that instead (seen sites where they were serving a 40KB error page rather than a tiny icon)

So I recommend to clients they have a favicon.ico even if they don't link to it in the page

It's worth

[2017-11-08 17:39] MikeParkin commented on #74
ping @thedaviddias :)

[2017-11-08 18:04] ungear opened #143 "Russian translation is ready"
Thank you for extremely useful checklist!

I have just finished Russian translation. Could you please add a link to the Translation section?

https://github.com/ungear/Front-End-Checklist

[2017-11-08 18:59] thedaviddias commented on #143
Thanks @ungear for the translation! One more! 😅

[2017-11-08 18:59] #143 closed

[2017-11-09 10:03] cyril-bouthors opened #144 "Suggestion: avoid "click here" links"
Maybe you should add this to your frontend checklist: avoid "click here" links.

I see this often on website and you have no idea what the link leads to.

Hope it helps.

[2017-11-09 11:49] matt-bailey commented on #140
I like the tweaks that @MrSunshyne suggests.

I'm still a little uncomfortable though saying that "Sass is recommended" without any mention at all that using Less or Stylus are equally valid and good options.

Either way, I understand why you're saying it. Do what you feel is best, it's your project :)

[2017-11-09 11:58] dashed commented on #140
Why not compromise with:

or

[2017-11-09 20:18] Daniel-Hug commented on #134
Thanks Elliot.

[2017-11-09 20:18] #134 closed

[2017-11-14 23:40] thedaviddias commented on #133
Done in a previous PR

[2017-11-14 23:40] #133 closed

[2017-11-15 00:30] thedaviddias opened #149 "Test ticket from Code Climate"

[2017-11-15 10:48] #149 closed

[2017-11-15 10:51] thedaviddias commented on #59
Hey @rubenvarela! Check the new online app! (http://frontendchecklist.com)

[2017-11-15 14:06] xargr opened #153 "Generator"
I think that it need develop a generator for whole guideline to generate a index.html page

[2017-11-15 17:17] thedaviddias commented on #153
Hi @xargr, I'm sorry I didn't understand what you are asking about...

[2017-11-16 10:14] #118 closed

[2017-11-16 10:15] thedaviddias commented on #138
@alifouad991 @lucalves Now you can check the 🔥 NEW Front-End Checklist Application 🔥, it's dynamic and can manually generate reports! Enjoy 🎉! ➜ http://bit.ly/frontendchecklist

[2017-11-16 10:15] #138 closed

[2017-11-16 10:16] thedaviddias commented on #77
Hey @tomekmy, have you tested the new Front-End Checklist App?

[2017-11-16 10:17] thedaviddias commented on #76
@edbrannin Now you can check the 🔥 NEW Front-End Checklist Application 🔥, it's dynamic and can manually generate reports! Enjoy 🎉! ➜ http://bit.ly/frontendchecklist

[2017-11-16 10:17] #76 closed

[2017-11-16 10:18] thedaviddias commented on #17
Without any response, closing the ticket.

[2017-11-16 10:18] #17 closed

[2017-11-16 10:19] thedaviddias commented on #20
Thanks @andydavies for your feedback. I'll change the rule to take that into consideration. Don't hesitate to do a PR.

[2017-11-16 10:21] thedaviddias opened #154 "Fix "method_lines" issue in src/scripts/components/Storage.js"
Function `checkingItem` has 40 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/thedaviddias/Front-End-Checklist/src/scripts/components/Storage.js#issue_5a0d51836d0bab0001000084

[2017-11-16 10:26] thedaviddias commented on #74
Hey @MikeParkin, sorry for the delay: I was trying to finish the first beta of the Front-End Checklist. A command line tool is in the pipe :) I have few other projects to launch before but it's something that can definitely be interesting (especially if it's open-source).

[2017-11-16 11:00] tomekmy commented on #77
Wow. @thedaviddias amazing job!
That looks and works better then I imagined :)

One little suggestion. Maybe add border to checkboxes or change checkboxes appearance to be similar like a favicon.

[2017-11-16 11:07] thedaviddias commented on #77
Thanks @tomekmy, really happy you liked it!

Good suggestion! Let me do some tests and see if it's better.

You mean the checked state or not checked?

[2017-11-16 11:44] tomekmy commented on #77
Especially the unchecked state because at the first sight it looks like something you can't check and rather it is similar to 'list-style-type: square;'.
But it is only my UX feelings :)

[2017-11-16 13:50] thedaviddias commented on #77
Can you take a look now? I just make the changes.

[2017-11-16 14:02] tomekmy commented on #77
That's what I meant :+1:
Great job!

[2017-11-16 14:22] cyril-bouthors commented on #144
You're the expert :)

[2017-11-16 14:26] edbrannin commented on #76
Wow, great work!

[2017-11-16 14:29] #144 closed

[2017-11-16 14:34] thedaviddias commented on #61
Hey @ferdiemmen! I didn't find what I had in mind. I think we can add that point, do you want to do a PR or I can do?

[2017-11-16 14:37] thedaviddias commented on #77
Thanks for the suggestion @tomekmy! 😅

[2017-11-16 14:39] ferdiemmen commented on #61
Hi @thedaviddias!
I'm gonna make a PR. I think we should add it to the SEO section? Do you agree?

[2017-11-16 14:41] thedaviddias commented on #61
Yes absolutely! You can eventually that tool I found (https://technicalseo.com/seo-tools/rel-prev-next/) or another if you have one.

[2017-11-16 15:10] ferdiemmen commented on #61
@thedaviddias Dunno if you got a mail from git. But here is the PR: https://github.com/thedaviddias/Front-End-Checklist/pull/155

[2017-11-16 19:23] ferdiemmen opened #157 "Google - Accelerated Mobile Pages"
Hi @thedaviddias,
I just had another idea for the list. Although I’m not sure what your opinion is.

**AMP**
- https://www.ampproject.org/
- https://developers.google.com/search/docs/guides/about-amp
It is ofcourse a Google-backed project and sites build in AMP even have a special icon in the Google search results.

What do you think? Should it be added as a section?

[2017-11-16 21:02] thedaviddias commented on #157
Hi @ferdiemmen, not sure it's a good idea... To be honest, I'm not a real big fan of AMP for websites in general. Maybe some news websites can find an opportunity but not sure that needs to be on a "Front-End Checklist"... I'll be interested to have more POV from the community...

[2017-11-16 23:01] elliottregan commented on #157
A lot of the items on this list help you accomplish the same goals as AMP does. That is, small, fast, responsive, etc. I don't think AMP belongs here.

[2017-11-17 06:05] #41 closed

[2017-11-17 06:07] thedaviddias commented on #61
Thanks for the PR!

[2017-11-17 06:07] #61 closed

[2017-11-17 06:07] #77 closed

[2017-11-17 19:21] Stegosource opened #159 "Structured Data and HTML Sitemap listed twice"
Under the SEO section, Structured Data and Sitemap HTML are listed twice. They are the very last two items on the list, but are listed a couple items above as well.

[2017-11-18 02:03] thedaviddias commented on #159
Thanks @Stegosource, indeed, I'll correct that!

[2017-11-18 06:59] GYTO opened #160 "Viewport for iPhone X"
For the 'HEAD' section I would consider to update the viewport meta tag.
According to this article -> [https://webkit.org/blog/7929/designing-websites-for-iphone-x/](WebKit iPhone X)
`<meta name='viewport' content='initial-scale=1, viewport-fit=cover’>`
It's better to change to
`<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">`
that will support iPhone X vie

[2017-11-18 10:29] thedaviddias commented on #160
Yes you are right, can you do a PR?

[2017-11-19 04:12] #160 closed

[2017-11-21 03:32] GYTO opened #164 "Translation to Ukrainian"
I was checking other translation of this repo and I think it will good fit if we translate it Ukrainian. Repo already has Russian translation, but I think is a good idea to add some flavor to it.

Would you accept another translation?

[2017-11-21 05:49] kesuskim opened #165 "Sometimes, checklist gets double checked, resulting in unknown status"
Hello, you have updated your checklist site, https://frontendchecklist.io/ . Glad to see it :+1:

I have tested something, then I realize, sometimes checkbox got double-checked. This is example image of the result.

![image](https://user-images.githubusercontent.com/7637982/33056738-ae9cbeb4-ceca-11e7-8b0a-a26eee97d931.png)

I just clicked 'check all' button and went down, but I accidently click s

[2017-11-21 06:08] thedaviddias commented on #164
Yes sure! More translation we have better that can help people around 👍

[2017-11-21 06:08] thedaviddias commented on #165
Thanks to flag that @kesuskim, it's a bug indeed. I'll work on that.

[2017-11-21 06:19] GYTO commented on #164
btw, David did you think about adding a button on the checklist website to change languages?

[2017-11-21 06:21] thedaviddias commented on #164
Yes, I'm actually working on that. You'll need to translate all JSON files existing. Subscribe to the newsletter on the website, you'll be informed about all new evolutions.

[2017-11-23 22:35] KristofMorva commented on #98
I think these represent LOW/MEDIUM/HIGH defined in the readme (LOW=MAY, MEDIUM=SHOULD, HIGH=MUST). For consistency across the repo, I think RFCs should stick to LOW/MEDIUM/HIGH (these are also more understandable for most people in my opinion).

[2017-11-23 22:37] KristofMorva commented on #139
It's a Java application, and REST is a back-end technology. I don't see any connection between this repo, and the needs of that application.

[2017-11-24 17:13] sebastienrocks commented on #140
I agree with @MrSunshyne on the phrasing:

"Your page is using a CSS preprocessor"

to

"Your project is using a CSS preprocessor"

[2017-11-25 03:18] praveeno commented on #23
+1

[2017-11-25 03:21] praveeno commented on #63
https://developers.google.com/web/tools/lighthouse/ this is another tool from chrome

[2017-11-27 05:31] dakshshah96 commented on #157
AMP is useful for a very small subset of web developers, specifically those working on news/magazine type websites with lots of posts.

I don't think AMP belongs here.

[2017-11-28 07:02] amerllica commented on #157
@dakshshah96 , Absolutely you are right, I use AMP inside our mag website, I mean DIGIKALA Mag.
DIGIKALA is the biggest e-commerce of middle east. visit [DIGIKALA Mag](https://www.digikala.com/mag)

[2017-11-28 10:52] MrSunshyne commented on #157
AMP is kinda useful for media companies. But i don't think it took off as we expected.

The main thing lacking is for mobile browsers to **automatically** show and AMP version when available. Even Google Chrome mobile doesn't do that...

The only app I've seen that favors AMP is the twitter app. If you open an article within twitter, and it has an AMP version, it'll show up automatically, even tho

[2017-11-29 06:24] thedaviddias commented on #140
@sebastienrocks @dashed @MrSunshyne I removed "sass is prefered" and change "your page" to "your project". Tell me if it's fine for you now.

[2017-11-29 06:27] thedaviddias commented on #157
@ferdiemmen I think most agree to not mention it. Can you close the ticket pls?

[2017-11-29 07:54] ferdiemmen commented on #157
@thedaviddias Yes, and I agree. Thanks for all your opinions and arguments!

[2017-11-29 07:54] #157 closed

[2017-11-29 09:26] sebastienrocks commented on #140
@thedaviddias this works for me personally, although I do think an e.g. would be useful to newer developers (in the case they've never heard of a preprocessor), however it works in the current state.

[2017-11-29 10:00] ivancuric opened #173 "Tests require an external module - @babel/register - tests fail"
[code]

[2017-11-29 11:12] kaisershad opened #175 "Translation to German"
Translate Front-End-Checklist to german, to make it available for germany, austria and switzerland.

@thedaviddias: Thanks for responding so quick in twitter 👍 . Should i fork your project and offer the german version under my github account? This is how i'm seeing it for the other translations.
Thx
Kaiser

[2017-11-29 11:47] thedaviddias commented on #175
Yes, indeed, you need to fork and translate the README which is on your fork.

[2017-11-29 11:51] thedaviddias commented on #173
Yes, the test is not ready... I'm sorry for that. I'll finish that part next week.

[2017-11-29 12:10] kaisershad commented on #175
Thanks. I will start with the translation and paste the link here when it's done 💯

[2017-11-30 10:02] Un3x opened #176 "Add recommendation for humans.txt"
I was checking the checklist and i couldn't find any recommandation about the humans.txt file.

What's your opinion about it ? Should it be added to the checklist ?

[2017-11-30 15:40] Barterr opened #177 "Slow scroll on chrome on links"
When clicking the section links at the top of the page to scroll to the section, the scrolling is painfully slow on chrome. It works fine in firefox, it looks like it's a fixed 4 seconds to scroll to position, however on chrome it's janky and slow, and doesn't stop scrolling down until it gets there.

[2017-12-01 01:54] wingatekr commented on #134
I was going to open this one too, but voiceover is a very popular reader, and if it doesn't support, particularly on mobile, than we should include the manual roles still.

[2017-12-01 12:52] reifnotreef commented on #177
I have this same issue on Chrome on Android.
Tapped the HTML to jump to that section and it started scrolling about 0.5 lines a second.

[2017-12-01 14:15] thedaviddias commented on #177
Thanks guys, indeed, I'll correct that asap. I'll keep you posted.

[2017-12-01 14:20] thedaviddias commented on #176
It's indeed interesting you point that out. I used a humans.txt for the Front-End Checklist App but completely forgot to add it to the README.

On my POV, that could be mentioned as a LOW priority, but I think it can absolutely be in the FEC. Would like to have other POV.

[2017-12-01 17:07] Un3x commented on #176
I totally agree with low priority. It's also very easy and fast to setup. Any one having POV about this ?

[2017-12-02 15:04] fuckmebaby opened #181 "Earn"

[2017-12-02 20:19] #181 closed

[2017-12-02 20:26] fuckmebaby opened #182 "Please donate"

[2017-12-02 22:19] Jayntlatleng commented on #120
Hey guys adding on your conversation on the guy who translate Portuguese, why don't you have an app that translates Portuguese than you being the one who translate it

[2017-12-03 01:54] OmgImAlexis opened #183 "Code sponsor should be removed"
[They're shutting down on december 8th](https://twitter.com/codesponsor/status/935139167075553281).

Commit: https://github.com/thedaviddias/Front-End-Checklist/commit/994ee12078a120b96644a1a23412578ae7d1e804

[2017-12-03 10:02] Jayntlatleng commented on #183
Hey there can you please bring me to my comprehending on how is Github works in a easy way while am associating myself with you coz it seems so interesting please please pleeeeeeeeeease :open_mouth:

[2017-12-03 10:03] Jayntlatleng commented on #183
It seems like you know this like you know yourself

[2017-12-03 10:09] Jayntlatleng commented on #183
Coz what I can comprehend about Github is that is an app that you can create or build yourself an app inside of it

[2017-12-03 10:11] Jayntlatleng commented on #183
....am I right or am l right?

[2017-12-03 10:16] Jayntlatleng commented on #183
Please respond when when you got these messages

[2017-12-03 15:53] thedaviddias commented on #183
Thanks @OmgImAlexis, I was aware of the shutdown. I removed the code.

[2017-12-03 15:53] #183 closed

[2017-12-04 03:37] emaadali opened #184 "Selecting each item individually on checklist giving only a B grade"
When every item is manually marked as complete one by one, the grade is only a B.

<img width="350" alt="screen shot 2017-12-03 at 10 33 32 pm" src="https://user-images.githubusercontent.com/3521616/33535205-28b74aa8-d87a-11e7-9823-c30fa34c0eac.png">

This does not happen when you use `.js-check-all` to check all items in all sections.

Issue found in **Chrome 62.0.3202.94** [Mozilla/5.0 (Macintos

[2017-12-04 04:43] huyingjie commented on #184
I reproduced the issue reported by @emaadali .
I did one additional step: refresh the webpage after manually marking all items as complete one by one, the grade will change to "A".

[2017-12-04 07:09] thedaviddias commented on #184
Thanks guys, I'll correct that this week, don't hesitate if you find something else.

[2017-12-04 23:53] kjb opened #188 "Doctype should be first line of the file"
Comment should not precede DOCTYPE.

The purpose of <!doctype html> is to ensure standards compliant rendering, avoiding quirks mode, even in older browsers.  To fulfill this purpose, it must be the first item in the file. See https://developer.mozilla.org/en-US/docs/Web/HTML/Quirks_Mode_and_Standards_Mode

"Make sure you put the DOCTYPE right at the beginning of your HTML document. Anything befor

[2017-12-05 06:45] thedaviddias commented on #188
Thanks for the correction, indeed nothing should be before the Doctype.

[2017-12-05 06:51] xFuture603 commented on #175
@kaisershad. Bist du daran interessiert gemeinsam zu arbeiten? Würde mich bei der Übersetzung ENG -> DE, gern beteiligen!

VG

[2017-12-05 16:08] singhvaibhavram opened #190 "how to run on Local Machine?"
I am using ubuntu. What are the dependencies to install and can someone please update the readme page so that it states that how do we run this code on local machine. I am new here.

[2017-12-05 17:25] jackwilsdon commented on #190
It looks like [README_APP.md](https://github.com/thedaviddias/Front-End-Checklist/blob/master/README_APP.md) needs updating with the correct steps.

Try this to start a development server (you'll need NodeJS installed);
[code]

And to build it;
[code]

[2017-12-05 18:43] thedaviddias commented on #190
Sorry @singhvaibhavram, I had some delay to finish the README_APP. It'll be updated in the next days with everything explained.

Thanks @jackwilsdon for the support. If you have any issue, you can use ```gulp dev``` instead of ```npm run start```.

It seems to have an issue with the app.bundle.js file. If it's the case, launch ```npm build``` one time and everything will work properly after.

Sorr

[2017-12-05 18:44] thedaviddias commented on #188
@kjb, if it's good for you can you close the issue?

[2017-12-05 21:34] sugus25 commented on #190
How to install on my device

Than you

[2017-12-05 21:39] sugus25 opened #191 "Thank you"

[2017-12-05 21:39] sugus25 commented on #191
Thank you

[2017-12-06 06:39] #191 closed

[2017-12-06 13:44] msuri44 commented on #190
What do you think about dockerize this solution to run the solution faster and easier locally?

[2017-12-06 20:48] JeffreyATW opened #194 "Accessibility "role" suggestions seem outdated"
In HTML5, there shouldn't be a need to add `role` attributes to semantic elements, such as `header`, `nav`, and `main`. One piece of documentation points to [this article](https://www.w3.org/WAI/GL/wiki/Using_ARIA_landmarks_to_identify_regions_of_a_page?ref=frontendchecklist), which seems to be specific to HTML4 (it does not mention semantic elements).

The [other document](https://www.w3.org/TR/w

[2017-12-06 20:57] JeffreyATW commented on #194
BTW, the [Nu Html Checker](https://validator.w3.org/nu/) suggests that these `role` attributes are unnecessary.

[2017-12-07 05:15] thedaviddias commented on #194
Hey @JeffreyATW, indeed you are right, few people point that out. Do you want to do a PR for that and remove what is not necessary?

[2017-12-07 07:26] thedaviddias commented on #23
@collinwu @frio Some time ago, we added a security section, but since I was exchanging with some developers, and I would have your POV. A Front-End developer is in general not responsible for server-side security rules... If you develop an application with server-side, you may be more a Full-Stack developer than a Front-End Dev... Don't you think?

[2017-12-07 07:37] thedaviddias commented on #20
Hi @chris-morgan, @andydavies, regarding that page https://en.wikipedia.org/wiki/Favicon it seems to put the favicon at the root, is not the best option compared to ```<link rel="shortcut icon"
 href="http://example.com/myicon.ico">``` for example. What do you think? What you propose as an alternative to the current text?

[2017-12-07 07:38] thedaviddias commented on #28
@MaskyS, @dorian-delorme do you have any items to suggest?

[2017-12-07 07:40] thedaviddias commented on #63
@kailashvele, I'm looking to add maybe a tag on the Front-End Checklist app with "at the beginning", "During development", "End of development", what do you think?

[2017-12-07 07:50] thedaviddias commented on #81
@mauii14, I was thinking about how to keep the checklist "short" without putting all the items necessary, but enough to ensure accessibility... Maybe we can have an item saying "Check if you respect all accessibility rules" and put some links to tools that will list all possible issues.

Do you see what I mean?

[2017-12-07 07:51] thedaviddias commented on #88
@webdevan what do you propose as PR?

[2017-12-07 07:51] thedaviddias commented on #164
@GYTO Any update? Can you close the issue?

[2017-12-07 07:56] thedaviddias commented on #140
@sebastienrocks Better now?

[2017-12-07 07:56] thedaviddias commented on #175
@kaisershad Have you been in contact with @xFuture603?

[2017-12-07 08:08] thedaviddias commented on #95
@antarestupin Instead of page weight, maybe response-time is more relevant. We can for example, say "Your response-time need to be inferior to 10 seconds? What do you think? https://www.nngroup.com/articles/website-response-times/

[2017-12-07 08:10] thedaviddias commented on #98
@miya0001 can you close the ticket? Or do you propose any change regarding the lastest evolution of the Front-End Checklist app?

[2017-12-07 08:11] sebastienrocks commented on #140
@thedaviddias Looks a lot better to me :)

[2017-12-07 08:12] #159 closed

[2017-12-07 08:15] thedaviddias commented on #176
@MrSunshyne any POV?

[2017-12-07 08:17] thedaviddias commented on #190
@msuri44 indeed that may help... even we don't have a "real" application.

[2017-12-07 08:17] thedaviddias commented on #140
@matt-bailey Can you close the ticket or I do?

[2017-12-07 08:46] xFuture603 commented on #175
@thedaviddias I started the translation now on my own. Gonna hit you up with some updates.

[2017-12-07 09:50] chris-morgan commented on #20
Iff you have no other `rel=icon` links, then `<link rel="shortcut icon" href=/favicon.ico>` is completely superfluous.

[2017-12-07 10:06] matt-bailey commented on #140
Looks good! I'll close the ticket :)

[2017-12-07 10:06] #140 closed

[2017-12-07 11:40] kailashvele commented on #63
@thedaviddias Yes I would like to see this, Will help lot of developers to ensure nothing is missed out and is taken care of from the beginning. DM me twitter to talk more on this. :)

[2017-12-07 17:33] kjb commented on #188
Thanks!

[2017-12-07 17:33] #188 closed

[2017-12-08 11:49] antarestupin commented on #95
I agree, the initial goal should be expressed in term of seconds/ms as it's the actual user experience that you want to specify. But I don't think a strict value should be set in this checklist, because what's really important for the team is to define a goal, achieve it and keep it in consideration when changing things in the app. Then from this goal they can define an ideal page weight using too

[2017-12-09 05:01] DarekRomanowski commented on #3
Google officially increases length of snippets (meta description) in search results 1 week ago: https://searchengineland.com/google-officially-increases-length-snippets-search-results-287596

[2017-12-10 04:21] chinesexiaozhu commented on #59
this is a good adivce

[2017-12-11 13:02] squaredindex opened #199 "Possible additions to image optimisation."
Hi, I'd like to suggest the following resources for image optimisation:

- [TinyPNG](https://tinypng.com/)
Great for optimising PNGs, APNGs and JPGs/JPEGs while maintaining image quality.

- [ZorroSVG](http://quasimondo.com/ZorroSVG/)
Allow you to apply Jpeg like optimisation to images with transparency using SVG masking.

- [SVGO](https://github.com/svg/svgo) & it's web-based GUI counterpart [SVG

[2017-12-11 13:20] thedaviddias commented on #199
Hi @squaredindex, don't hesitate to make a PR!

[2017-12-11 14:06] xFuture603 commented on #175
@thedaviddias I finished my work with this translation right now. Translated everything in german now! :) Anything else I need to do now?

[2017-12-11 16:07] kaisershad commented on #175
@xFuture603 Can you please share the repo, where the translation is? I also started it and if you like we can compare it.

[2017-12-11 19:06] xFuture603 commented on #175
@kaisershad I am sorry. I am already done with the entire translation!

[2017-12-13 12:06] mmodrow opened #202 "Introduce persistance beyond browser localstorage etc."
I whipped up a little something for Tampermonkey to add load & save on the dev tool command line with JSON as transfer format.

[https://gist.github.com/MarcAMo/93dbaae65fc5621eb9619d14e6d760c0](https://gist.github.com/MarcAMo/93dbaae65fc5621eb9619d14e6d760c0)

This way you can hand over form state to other people or browsers or even put it in a repo together with the checked code.

Maybe somethin

[2017-12-14 06:36] thedaviddias commented on #202
Nice @MarcAMo! I wasn't aware about Tampermonkey (don't know how I missed that).

I need to check if that can be added on the app or not.

[2017-12-15 09:16] MarcAMo commented on #202
I haven't yet had a look at your codebase, but if you'd like I could see if I could come up with something and then commit a PR.

[2017-12-15 09:43] thedaviddias commented on #202
Feel free to make any change you want ☺️ I still need to write a real README_APP but you can add some code and I can review it after.

[2017-12-20 02:24] #74 closed

[2017-12-20 02:25] thedaviddias commented on #23
Ping @collinwu @frio

[2017-12-20 02:25] thedaviddias commented on #59
Ping @rubenvarela

[2017-12-20 02:26] thedaviddias commented on #98
Ping @miya0001

[2017-12-20 06:36] MarcAMo commented on #202
I opened a PR last weekend.
When you've got time, I think we should move the conversation there. (It still git codeclimate issues, because I don't know how to better give the user feedback in your app other than alerts. Other than that we're green analytics-wise.)

[2017-12-26 12:17] thedaviddias commented on #202
Hi @MarcAMo, I'm sorry for the delay, I'm actually not able to work on that. Let me see what is wrong in the next days. Thanks for your patience and understanding.

[2017-12-27 11:20] MrSunshyne commented on #199
@squareindex I'd also throw in [jpegmini](http://www.jpegmini.com/) and the ImageOptim service for mac users

[2017-12-27 16:35] MarcAMo commented on #202
No problem. Happy holidays and a happy new year!

[2017-12-27 23:39] HZooly opened #206 "Check all button not reflected in print preview"
## How to reproduce?

Check some checkboxes in the list (not 100% of a category). In a category, click on *Check all items* button.

Generate a report: it should open a print preview (Chrome Browser).

Generated report shows that there's 100% items checked in the category, but checkboxes that have been checked by *Check all items* button are not checked.

Sorry for the abusive **check** words 😈

*

[2017-12-28 20:20] seanbrousseau opened #207 "Clicking "Expand all items" more than once duplicates all code snippets in that section"

[2017-12-29 05:36] thedaviddias commented on #206
Interesting bug indeed. I'll take a look on that. Thanks for the flag @TorzuoliH!

[2017-12-29 10:32] TorzuoliH commented on #206
Thanks to you! I've added additional informations.

[2018-01-03 10:05] kaisershad commented on #175
@thedaviddias Hi, we can close this issue (my [german version](https://github.com/kaisershad/Front-End-Checklist/tree/1-german-translation)). I have 2 ideas:
1. Integrate the german translation direct to: https://frontendchecklist.io/
2. Searching the mentioned recourses in german language
Please let me know, if you think that there are useful.

[2018-01-03 11:01] Gregjarvez commented on #207
@seanbrousseau Hello I would Like to work on this problem, however, I am having a hard time finding which part of the triggers this action. A little assistance will be appreciated

[2018-01-03 20:53] frio commented on #23
Phew, sorry for the slow reply!  Security is a nightmare in our industry; we find new flaws with potentially dangerous implications day in and day out.  There are heaps of things that front-end developers should be aware of in the security space :)!

At a minimum, I'd expect a frontend developer to at least be aware of the [OWASP Top 10](https://www.owasp.org/index.php/OWASP_Top_Ten_Cheat_Sheet).

[2018-01-08 18:36] vcastrejont opened #216 "Accessibility: Do not remove outline style"
All browsers have a default value they apply to the currently focused item. This is especially useful for folks who can't use a mouse or have a visual impairment. If you remove the outline you are making your site inaccessible for these people.

Avoid using:
`:focus {
outline: 0;
}`

Keyboard users depend on this outline to determine where they are on the page.

[2018-01-12 05:28] thedaviddias commented on #175
@kaisershad You can easily integrate the german translation on frontenchecklist.io, you can find an example with the JP language.

[2018-01-12 05:28] #175 closed

[2018-01-12 05:34] thedaviddias commented on #216
Hi @vcastrejont, indeed but it's possible to remove the focus IF a creative feedback is provided on some elements.

[2018-01-13 22:28] antarestupin commented on #95
@thedaviddias I'm reading the latest version of Smashing Magazine's [performance checklist](https://www.smashingmagazine.com/2018/01/front-end-performance-checklist-2018-pdf-pages/) and I see in the 7th section that they advise precise numbers concerning performance, to be exact:

- a First Meaningful Paint under 1 second
- a Time To Interactive under 5 seconds for the "minimum" configuration (a $

[2018-01-24 07:52] #194 closed

[2018-01-24 07:55] thedaviddias commented on #95
Absolutely @antarestupin, I thought about the same thing when I read the performance checklist. Feel free to push some modifications into the README :)

[2018-02-01 05:03] shmulim commented on #207
Fixed.

https://github.com/thedaviddias/Front-End-Checklist/pull/224

[2018-02-01 05:05] shmulim commented on #207
Fixed. #224

[2018-02-04 17:49] thedaviddias commented on #207
The pull request was accepted, thanks for the work. Please close the ticket if it's good for you.

[2018-02-17 06:03] dbucci24 opened #226 "Spanish Translation"
Hello! I would like to translate the project into Spanish! is it already translated?

[2018-02-19 06:44] thedaviddias commented on #226
Hi @dbucci24, no it is not! Feel free to fork the project and do the translation in Spanish 👍

[2018-02-19 15:20] gabrielizalo commented on #226
Yesss.. It is here: [https://github.com/eoasakura/Front-End-Checklist-ES](https://github.com/eoasakura/Front-End-Checklist-ES)

[2018-02-20 06:26] thedaviddias commented on #226
Hic... Sorry @gabrielizalo, I completely forgot that the README was translated in Spanish but nonetheless, the app is not :) So feel free @dbucci24 to work on the JSON files to create the frontendchecklist.io in Spanish!

[2018-02-26 21:42] Malvoz commented on #216
Yes, the outline is important for keyboard-only users. You can remove the `outline` for `:focus` and add back `outline`s for keyboard-only users with [`:focus-visible`](https://caniuse.com/#search=focus-ring).

[2018-03-02 04:38] GrosSacASac opened #233 "`<code>lang</code>` is escaped"
`<code>lang</code>` is escaped

https://frontendchecklist.io/

[2018-03-08 00:34] Tobsta opened #237 "Urgency indicator colors on the website aren't colourblind friendly"
The task urgency indicators (little coloured dots left of the checkboxes) are impossible for me to discern as a colourblind person. It would be great if you reused the coloured boxes from the README file like this: ![image](https://user-images.githubusercontent.com/11626018/37125381-6fd5b1aa-22c0-11e8-929c-25aa34507b2b.png)

I would do it myself but I'm unsure of whether you're using a build syste

[2018-03-10 07:35] thedaviddias commented on #237
Hi @Tobsta, thanks to flag that out. I'm sorry for that mistake, it's on me. Feel free to correct it in the SCSS file, if you don't know how to do, I'll correct it in the next days. Do you have a suggestion for the alternative color?

[2018-03-10 07:36] thedaviddias commented on #233
Hi @GrosSacASac, thanks to reach the issue, do you want to open a PR?

[2018-03-10 07:37] thedaviddias commented on #164
@GYTO Any update? Can you close the issue?

[2018-03-12 08:32] #164 closed

[2018-03-20 18:14] atempel commented on #75
There are still the need for the app translation? I'm up to it
If so, what code do I use for the name of the folder? "pt-br"?

[2018-03-28 15:45] thedaviddias commented on #75
Yes it's a need to translate the JSON files if you have some time. "pt-br" should be working but if you find any issue, don't hesitate to tell me.

[2018-03-28 15:56] atempel commented on #75
Will do!

[2018-04-08 09:56] Dreamersoul commented on #58
Clicking on the Japanese flag on the website bugs out, should I open an issue for that?

[2018-04-11 17:39] misfer108 opened #249 "Bdfj"

[2018-04-11 17:40] misfer108 commented on #249
author
Connor Sheehan <sheehan@mozilla.com>

Thu, 01 Mar 2018 14:05:43 -0500 (5 weeks ago)
changeset 5817
b99834241492
parent 3113
0fc33ab59cb8
permissions
-rwxr-xr-x
configwizard: Prompt user to set "ui.tweakdefaults = true" in configwizard (Bug 1441674) r=gps

The Mercurial project has implemented a collection of features that are typically desirable
as default settings, but would break backward

[2018-05-06 13:11] salamwaddah opened #254 "Generating/printing report shows the footer URL"
When I use the [demo website](https://frontendchecklist.io/) and try to generate a report then scroll down to the bottom on the report you will see the URL is visible when printing and not hidden behind the text (David Dias "The")

![screen shot 2018-05-06 at 5 05 03 pm](https://user-images.githubusercontent.com/26627088/39673592-61543b88-5150-11e8-9922-32574ea28e44.png)

I think adding the follow

[2018-05-17 13:13] greenkeeper[bot] opened #255 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- Replaced the old Node.js version in your `.nvmrc` with the new one

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/theda

[2018-05-19 23:08] weboverhauls opened #257 "Accessibility - screen reader update"
Change
"Screen-reader: All pages were tested in a screen-reader (VoiceOver, ChromeVox, NVDA or Lynx)."

To:
"Screen reader: All pages were tested in two or more screen readers (such as JAWS, VoiceOver, and NVDA.)"

Ref:
https://webaim.org/projects/screenreadersurvey7/#primary

[2018-05-19 23:23] weboverhauls opened #258 "PE and HTML5 not Accessibility"
The following checkpoints listed under Accessibility are good dev practices/usability, but aren't really Accessibility. Suggest moving to a different section.
-Progressive enhancement
-Specific HTML5 input types are used

[2018-06-01 15:23] TheDutchCoder opened #261 "Inline CSS"
Inline CSS is marked as being a bad thing, but this is not the case for critical CSS, which actually improves (perceived) performance and there are a couple of tools available to help with this.

I would consider changing this checkpoint and/or add one for critical CSS.

[2018-06-05 07:21] sydinh opened #262 "Could I copy your repo, please!"

[2018-06-07 11:11] #262 closed

[2018-06-07 12:17] TomasHubelbauer commented on #262
Not the repository owner, but it has a license:

https://github.com/thedaviddias/Front-End-Checklist/blob/master/LICENSE

As long as you follow its terms, you should be in the clear. The Fork button is at the top right. :-)

[2018-06-11 05:57] Kout commented on #261
You are right with critical CSS, anyway I would say this technique becomes obsolete with rise of HTTP/2 and splitting CSS/JS files in chunks. So in contrary maybe it is time to suppress it completely in the list.

[2018-06-28 18:44] antonkryvko opened #267 "Ukrainian translation"
Hello,
I've made [a Ukrainian translation](https://github.com/antonkryvko/Front-End-Checklist) of your checklist. Can you add it?

[2018-07-06 13:02] thedaviddias commented on #267
Done! Thanks @antonkryvko! 👏

[2018-07-06 13:02] #267 closed

[2018-07-06 13:03] thedaviddias commented on #258
You're right @weboverhauls, let me move that elsewhere.

[2018-07-06 13:05] thedaviddias commented on #254
That was done on purpose because on the print version you can't see the href of a link, but I don't mind to remove it, if you feel that's not appropriate. Do you want to do a PR @salamwaddah?

[2018-07-07 06:56] antarestupin commented on #95
Oops sorry I forgot to close this issue.

[2018-07-07 06:56] #95 closed

[2018-07-07 09:31] miya0001 commented on #98
@thedaviddias Oh, sorry for delaying!

[2018-07-07 09:31] #98 closed

[2018-07-10 07:34] HZooly commented on #206
@thedaviddias any news on it? I don't know if it stills happen.

[2018-07-14 16:44] taras96 opened #270 "GDPR info"
I think need to add GDPR-info to Accessibility section.

[2018-07-15 10:21] robinmetral commented on #233
Also this specific item doesn't expand on [https://frontendchecklist.io](https://frontendchecklist.io) I see in README.md that it should be expanding into `<html lang="en">`.
Same issue for other items such as Direction attribute, RSS feed, etc.

[2018-07-17 16:52] dmnktoe opened #272 "Font Fallback due GDPR"
What about a font fallback like referred here (https://css-tricks.com/snippets/css/system-font-stack/) due to GDPR regulations?

#270

[2018-07-19 15:19] Barterr commented on #177
Looks like it was fixed, closing this

[2018-07-19 15:19] #177 closed

[2018-07-22 04:46] #165 closed

[2018-07-22 04:46] #173 closed

[2018-07-22 04:46] #184 closed

[2018-07-22 04:46] #28 closed

[2018-07-22 04:46] #88 closed

[2018-07-22 04:46] #190 closed

[2018-07-22 04:46] #20 closed

[2018-07-22 04:46] #63 closed

[2018-07-22 04:46] #3 closed

[2018-07-22 04:46] #59 closed

[2018-07-22 04:46] #202 closed

[2018-07-22 04:46] #23 closed

[2018-07-22 04:46] #207 closed

[2018-07-22 04:46] #226 closed

[2018-07-22 05:45] #153 closed

[2018-07-22 05:45] #154 closed

[2018-07-22 11:01] gabrielizalo commented on #226
Sorry... I forgot about.. It was translated or not? @thedaviddias how translate the app with json files?

[2018-07-22 15:07] thedaviddias commented on #226
Hi @gabrielizalo, nope, but I'm going to launch a better and more complete version of the FEC, maybe it's better to way for the version 2 :)

[2018-07-22 16:17] thedaviddias commented on #206
Hi @HZooly, sorry for the late response, I'll be working on correcting all the bugs in the next days. I'll keep you posted.

[2018-07-22 23:59] gabrielizalo commented on #226
Ok.. Thanks...

[2018-07-31 13:49] #255 closed

[2018-08-03 00:35] #257 closed

[2018-08-03 00:35] #81 closed

[2018-08-03 00:35] #216 closed

[2018-08-20 07:47] LIYINGZHEN commented on #254
@thedaviddias I have created a PR #279. Let me took care of fixing it.

[2018-08-25 06:36] #261 closed

[2018-08-27 11:34] thedaviddias commented on #254
Thanks @LIYINGZHEN! @salamwaddah, I think you can close the issue now.

[2018-08-27 11:44] #254 closed

[2018-08-29 15:47] shauste opened #283 "Filter by „Social Meta“ doesn't show entries"
If i click filter „Social Meta“ it doesn't show entries, e.g. „Facebook Open Graph“ – tagged with „Social Meta“.

[2018-08-29 16:28] thedaviddias commented on #283
Thanks @shauste, I'll look into that issue.

[2018-09-03 03:41] ngocsangyem opened #286 "Requiring external module babel-register"
Hi !
I have try to run the project but it have issues
[code]

[2018-09-12 20:54] torresgol10 opened #288 "Recommendation Link AMP"
I think it would be important to add this section to the checklist.

```<link rel="amphtml" rel="" />```

https://www.ampproject.org

[2018-09-13 02:12] thedaviddias commented on #288
Good point, don't hesitate to do a PR, otherwise, I'll add a rule about. Thanks!

[2018-09-19 13:42] #258 closed

[2018-09-20 20:07] HZooly commented on #206
I've tested this one again, it stills happen 😄
Maybe this weekend I'll find some time to work on this issue @thedaviddias

[2018-09-22 16:13] torresgol10 commented on #288
I need your help to do a gulp dev I get this problem as I can fix it "Requiring external module babel-register", I read it is solved by installing babel/core.

I will also try to take time to start translating the project into Spanish XD

[2018-09-22 19:28] thedaviddias commented on #288
I need to update everything and check. I don't remember exactly what I did to make it work... Did you installed gulp-cli globally?

[2018-09-27 18:08] #270 closed

[2018-10-04 20:41] torresgol10 commented on #288
Sorry, it was a mistake of my gulp-cli, I already have it mounted I am preparing the PR

[2018-10-06 13:11] #237 closed

[2018-10-06 13:11] #176 closed

[2018-10-12 15:43] #233 closed

[2018-11-07 21:35] greenkeeper[bot] opened #298 "An in-range update of stylelint-scss is breaking the build 🚨"
## The devDependency [stylelint-scss](https://github.com/kristerkari/stylelint-scss) was updated from `3.3.2` to `3.4.0`.

🚨 [View failing branch](https://github.com/thedaviddias/Front-End-Checklist/compare/master...thedaviddias:greenkeeper%2Fstylelint-scss-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint-

[2018-11-12 17:47] #283 closed

[2018-11-17 14:20] #286 closed

[2018-11-27 13:22] #272 closed

[2018-12-04 21:10] #206 closed

[2018-12-11 17:29] jtenclay opened #302 "The website has diverged from the README"
It seems like the README has been continually updated and formatted, but the website items don't match up anymore. Is there something I can help with to bring the website back up to date? Could the build be changed in some way so that the data items and README are connected somehow?

[2018-12-18 23:59] #288 closed

[2019-01-08 22:23] naeluh commented on #302
The website does not seem to work anymore? I keep getting an F for any site?

[2019-01-10 20:11] #298 closed

[2019-01-10 20:39] thedaviddias commented on #302
@jtenclay I'm sorry for the delay of my response, if you want to update the content of the website, you just need to update the JSON files inside the data folder. I'm actually improving the content, so hopefully, we'll have soon a better version of the README / website.

@naeluh I just checked and the website seems to be working properly... what is exactly the issue you have?

[2019-01-11 20:19] jtenclay commented on #302
@thedaviddias Not a problem, thanks for the response! If you're planning to be changing some of the content I'll give some space for now and check back later.

The deeper question was if it makes sense for the content to be stored in two places, since other contributors might update the README but forget to update the JSON (for example). But if you feel good with it, then I'm sure it's no problem

[2019-01-12 20:27] #302 closed, assigned to nobody

[2019-01-23 20:44] willowcheng opened #308 "Japanese page is not available"
![screen_shot_2019-01-23_at_3_42_03_pm](https://user-images.githubusercontent.com/6239076/51635738-852bc500-1f25-11e9-942e-52977c344e8a.png)
Inside https://frontendchecklist.io/, the Japanese path doesn't actually work, which shows following:
![screen shot 2019-01-23 at 3 40 13 pm](https://user-images.githubusercontent.com/6239076/51635770-95dc3b00-1f25-11e9-8be3-10bbd89d1503.png)

[2019-01-29 21:47] thedaviddias commented on #308
Thanks @willowcheng, I'm gone take a look on that

[2019-02-13 08:38] garcialo opened #312 "Consider linking to an accessibility checklist"
I would suggest this one: https://a11yproject.com/checklist.html

[2019-02-14 18:47] thedaviddias commented on #312
Hi @garcialo, I'm actively working on the Front-End Accessibility Checklist... hopefully will be out in the next weeks! 😉

[2019-02-15 07:28] garcialo commented on #312
Great. Let me know if you'd like some assistance. I've created a few over the years.

[2019-02-27 20:51] papb opened #317 "Roadmap link is broken on README"
Clicking on [Roadmap](http://feedback.frontendchecklist.io/) in the readme gives a strange "not found" error:

[2019-04-13 14:30] thedaviddias commented on #317
Link has been removed.

[2019-04-13 14:30] #317 closed

[2019-05-06 20:21] iAbdullahWaleed opened #320 "Arabic translation is ready."
I translated the checklist to arabic but on separate page, because github don't support rtl very well.
Url : https://iabdullahwaleed.github.io/FrontEnd-Checklist/

[2019-06-18 00:30] johndavemanuel opened #323 "How to run in local?"
How can I run it in my local like in the website?

[2019-06-18 09:02] #323 closed

[2019-06-19 07:02] kodeGenius commented on #312
Hi @thedaviddias, I can see that Front-End Accessibility Checklist is up. Except if you have additional update, I would suggest that this issue is close.

[2019-06-23 19:29] jeshan opened #324 "Checklist generator?"
Hi David,
Is there a checklist generator available? It would be nice if we could provide our own data to create custom checklists.
I checked your repos but couldn't find any.

[2019-06-23 19:30] jeshan commented on #324
The closest thing I found is the instructions in README_APP.md

[2019-07-04 15:54] #324 closed

[2019-08-01 18:15] kylejrp opened #326 "Order of Meta Viewport Tag in Head"
The Head section says:

I found a reference for Charset being early on in the head:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta

However, I can't find a reference for why `viewport` should be placed at the beginning of the `<head>` element. What's the motivation behind putting `viewport` in the first two elements of the `<head>` element?

[2019-08-08 20:05] jeshan opened #327 "Percentage completion may exceed 100%"
Scenario:
- clear local storage
- refresh page
- tick all in a certain section (as indicated in screenshot); in my example, head section becomes 100%
- tick any of the items in this same section; head becomes 105%. (19/18*100 = 105)

![image](https://user-images.githubusercontent.com/1020565/62734153-598fa880-ba39-11e9-9c1e-2a37ffc49ef4.png)

[2019-08-12 21:32] kylejrp opened #329 "Pagination no longer recommended"
Following the links in the "Pagination link tags" section brings you to a twitter post saying Google no longer recommends rel="prev/next":
https://technicalseo.com/tools/rel-prev-next/

The Google article link is also broken:
https://support.google.com/webmasters/answer/1663744?hl=en

[2019-08-16 15:15] thedaviddias commented on #327
Thanks for the correction @jeshan

[2019-08-16 15:15] #327 closed

[2019-08-29 07:04] lastmjs opened #330 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file for GitHub Sponsors. This would allow a canonical address to send funds to. For example, projects could parse out the address and provide donation capabilities to the user.

[2019-09-17 07:23] Jack89ita opened #331 "[Bug] Check/Uncheck all button bug"
Hello!
When checking/unchecking all boxes within a section with the button, visually the result is correct, but when i try to print the report, all those checkboxes are not correct.

Step to reproduce:
1- Check all boxes of a section with the button "Check all item"
2- Click "Generate report"

Thank you!

[2019-09-17 14:58] riderjensen opened #333 "Dirty Markup Link Error"
The dirty markup link is "incorrect" as their cert has been invalid for over 3 months and the URL just redirects to https://www.10bestdesign.com/dirtymarkup/.

[2019-09-27 20:48] digilou opened #335 "Use icons with color in priority key"
The priority color key works for me, but I'm not colorblind. It might be helpful for folks who experience red/green colorblindness to have an icon or number to help represent priority as well. The color idea can remain (red icon, yellow icon, green icon), but shouldn't be the only indicator of priority.

![image](https://user-images.githubusercontent.com/8865558/65801091-b7309f00-e124-11e9-9429-df

[2019-10-03 19:10] woutfeys commented on #335
Maybe by the thickness of the text?

[2019-10-04 22:05] digilou commented on #335
Thinking about it more, a screen reader user would benefit from knowing each item is prioritized as. Oddly enough, the SVGs are marked as `aria-hidden="true"` which makes it invisible to screen readers, even when an `aria-label` is given. I think that's another issue to submit, though...

[2019-10-13 15:05] khacthienonline opened #339 "We can automatically test frontend checklist ?"
We can automatically test frontend checklist use node js by input the link page ?
To avoid the repeat when checking website all page

[2019-12-04 17:47] steegarden commented on #326
From my understanding, it’s not that it necessarily has to go first, it’s that it either has to be placed above a title tag or below other meta tags to work properly in the head element.

[2020-02-11 18:30] RobertCordes commented on #184
This is still an issue

[2020-02-13 17:47] l1kw1d commented on #339
maybe looking at Google puppeteer https://pptr.dev/ or easier using lighthouse https://github.com/GoogleChrome/lighthouse

[2020-02-13 19:05] l1kw1d commented on #339
Actually i can cover nearly 85% of the checklist just with selenium and webdriver.io , we could try to introduce the checklist in a small git app that will auto add the checklist to projects supported with auto-task to launch the checklist verification at time define by users

[2020-02-13 19:13] tiffin-filion opened #344 "Broken images in README"
Low, Medium and High images are not displaying in the README file:
![Annotation 2020-02-13 111226](https://user-images.githubusercontent.com/39063170/74469585-cacd6f80-4e51-11ea-90d9-63298212cef1.png)

[2020-02-17 11:39] akdnfbf opened #347 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:34] helen119 opened #348 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:48] helen119 opened #349 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 16:04] helen610 opened #350 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 17:11] helen773 opened #351 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 18:52] heken375 opened #352 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:26] scdsfvd opened #353 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/wyb476h

[2020-02-18 09:29] helen225 opened #355 "100$ for registration for everyone! 💰💰💰"
Register on this site and get $ 100! It's free!
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:00] helen225 opened #356 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:35] helen225 opened #357 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 11:56] helen225 opened #358 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 13:13] helen884 opened #359 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/uu5drcp

[2020-02-18 15:04] helen3371 opened #360 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/uu5drcp

[2020-02-18 18:41] helena331 opened #362 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:13] helena2299 opened #363 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:45] helena7732 opened #364 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/qp4t24k

[2020-02-19 11:17] Mahmoudibraheeem opened #366 "[thedaviddias/Front-End-Checklist] WATCH THE STREAM WITH MY HOT PU**Y 💋💋💋 (#365)"
i'm getting this spam notification on my email i have 100 emails like that can you please check that issue!!!!

[2020-02-19 11:42] kate5578 opened #367 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 17:17] kate5586 opened #370 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 19:27] hleila1837 opened #373 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 07:52] nika7732 opened #375 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://tinyurl.com/srmjb2y

[2020-02-24 06:33] nisarhassan12 opened #379 "gitpod button link path is wrong."
![image](https://user-images.githubusercontent.com/46004116/75132507-fd505580-56f8-11ea-823e-8535e7df2334.png)

Right now this open in gitpod button does not open a workspace as it should it takes to the a section which in readme.

[2020-02-25 13:58] brillout opened #381 "Add API section?"
Hi @thedaviddias !

Would you be interested in adding an API section? Talking about REST, GraphQL and RPC.

I'd gladly contribute :)

I'm the author of an RPC implementation ([Wildcard API](https://github.com/reframejs/wildcard-api#readme)).

[2020-02-25 14:02] thedaviddias commented on #381
Hi @brillout! I'm actually working on the V2 of the Front-End Checklist, I believe it would be more interested if you add elements on the new version. What do you think?

[2020-02-25 14:02] #379 closed

[2020-02-25 14:10] #344 closed

[2020-02-25 16:52] brillout commented on #381
Where can I see the V2? I've looked at the branches and your repository list but couldn't find any mentions of V2.

I really like your checklists because you seem to value "the search of the truth" above anything else.

There is a lot of confusion in the realm of APIs; it would be exciting to bring clarity on this topic.

I think we could do a beautiful section on APIs!

I'd love to check out the

[2020-02-27 19:52] gromovadarya90 opened #382 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:01] renata2216 opened #383 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] renata7738 opened #384 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:34] helen798 opened #387 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:26] helen78989 opened #389 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-01 05:53] elbrant commented on #326
Understandably, `<meta charset ...`  should immediately follow the opening `<head>` tag of your document. It declares the character encoding required for the page.  I add my `<meta viewport ...` tag immediately after that, along with any/all other `<meta... ` tags.

I group all of the tags in my `<head>` together for readability, (all my `<meta ...` tags, then `<title>`, followed by any/all of my

[2020-03-22 15:16] lgmorand commented on #381
IMHO, it would not be "frontend" anymore and if you start with API, then you need to cover cookies, authentication and then the database, it's never ending.

[2020-03-22 15:20] lgmorand opened #393 "Printing broken under firefox"
I don't know if it's me only, but only underfirefox printing is broken. I have a blank page, then a cropped page (with a part of the list) and then another blank page. I get the same behavior with two computers

Any idea what could cause that ?

![the frontend ckl bug](https://user-images.githubusercontent.com/6757079/77253185-03cee000-6c59-11ea-9384-5cf652023b84.png)

[2020-03-27 09:41] Dikshit-Kapoor commented on #326
Understand, it is not necessary that meta tag should be written just after opening <head> tag of your document it can be written even after the <title> tag and then  you can add other links also, for example:
<head>
	<title></title>
		<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
</head>

[2020-04-10 14:38] patrickhulce commented on #339
[lighthouse](https://github.com/GoogleChrome/lighthouse) out of the box checks for about 50% of the checklist already and can be extended with plugins to cover the other items in the checklist that make sense for your site.

If anyone here would like to make a lighthouse plugin for the other items or suggest they be included in core, don't hesitate to reach out. We share the same goals :)

[2020-04-29 01:50] tilda opened #405 "Discussion: Why Google Analytics, and why high priority?"
I understand that analytics might be important for y'all, but I personally think that GA isn't really that much of a necessary tool considering:
- how much data it collects
- the size of the scripts you need to include to load it in (thus increasing load time by a significant amount)
- it's blocked by adblockers (at least by default in uBlock Origin, unsure about others)
- etc, etc

There might be

[2020-05-05 03:28] sandip2224 commented on #405
I suppose it's popular because firstly, it's free for everyone, and secondly, data collection is automated without manual intervention. What do you think about it?

[2020-05-07 05:50] d-baranowski opened #406 "How was it done?"
We're working on something similar for OPS at our company. I love how the checklist is done. Is the source code available anywhere so we could make our own custom checklist using your framework?

[2020-05-07 05:56] d-baranowski commented on #406
Source code exists there: https://github.com/thedaviddias/frontendchecklist.io

[2020-05-07 05:56] #406 closed

[2020-05-08 04:42] thedaviddias commented on #393
Hi @lgmorand, not sure why, I can take a look.

[2020-05-08 04:44] thedaviddias commented on #339
Hey @patrickhulce! That was on my long list of things to do! I will let you know if I'm able to have something for lighthouse 😉

[2020-05-08 11:14] atoaugustyn opened #407 "Generate PDF Report"
Hello @thedaviddias ,
Could PDF option be added to generate Generate report checklist.

[2020-05-10 20:07] thedaviddias commented on #407
Hi @atoaugustyn, you can easily generate the report in PDF using the "print" on any browser. [Follow this link](https://www.digitaltrends.com/computing/how-to-save-a-webpage-as-a-pdf/) to see more details about how to do it.

[2020-05-11 19:29] vishal-1408 commented on #331
Hi, I am willing to work on this bug ! Can you assign this bug work to me

[2020-05-19 12:44] #407 closed

[2020-05-19 12:55] thedaviddias commented on #308
@willowcheng the Japanese version was removed at it requires some work and I'm currently working on another version.

[2020-05-19 12:55] #308 closed

[2020-05-19 12:55] #312 closed

[2020-05-19 12:56] thedaviddias commented on #320
@iAbdullahWaleed nice! Feel free to open a PR to add your link on that section https://github.com/thedaviddias/Front-End-Checklist#translations

[2020-05-20 02:52] kylejrp commented on #329
For reference, here's the Twitter post:

Studies show that users love single-page content, aim for that when possible, but multi-part is also fine for Google Search. Know and do what's best for *your* users! #springiscoming

This article says that it hasn't been supported for years:

[2020-05-25 19:46] akrantz01 commented on #405
Personally, I'm not a fan of Google Analytics because of the amount of data they collect about you and your site. It's free because you aren't paying with money, you're paying with data instead. The amount of data that you give them is significantly more than the amount you give them. They also don't necessarily show the most accurate statistics if you hit a certain limit for page views under the

[2020-06-03 03:31] #330 closed

[2020-06-03 03:31] #333 closed

[2020-06-03 03:31] #335 closed

[2020-06-04 15:21] #381 closed

[2020-06-09 11:48] #326 closed

[2020-06-29 20:22] mbiesiad opened #411 "Missing README_APP"
Missing 'README_APP' file. Line 69 of README.md.

Here:
"You can contribute to the Front-End Checklist App reading the **README_APP** file which explains everything about the project."
https://github.com/thedaviddias/Front-End-Checklist/blob/master/README_APP.md

Result:
```404 - Page not found```

Greetings,

[2020-07-07 07:51] lgmorand commented on #393
activity :)

[2020-07-09 17:20] hesadiahp opened #414 "Front End Checklist"

[2020-07-14 17:04] Upinder123 commented on #411
i can help resolving this

[2020-07-16 21:33] mbiesiad commented on #411
Good to know, thanks, but it's already fixed (see 413). Closed.

[2020-07-16 21:33] #411 closed

[2020-07-21 07:40] #339 closed

[2020-07-24 22:11] #331 closed

[2020-08-01 15:21] #320 closed

[2020-08-02 04:21] #329 closed

[2020-08-07 20:51] #405 closed

[2020-08-22 00:32] naphatddd opened #417 "html"

[2020-08-26 09:49] #417 closed

[2020-08-31 15:44] danieledler commented on #202
Just checking if the pull request for this issue is still something to consider it seems to have been forgotten?

[2020-08-31 18:30] mmodrow commented on #202
I can happily use my fork, if need be. But as I moved on from web to app development even that appears not likely. Take it if you wish or abandon it, if you don’t. I am happy both ways.

[2020-09-18 08:17] Klemart3D commented on #393
Same problem as @lgmorand and when I checked all "HTML" items, they are not checked on printed page (see "100 % HTML items are ✓" but they are not).
Same with Firefox or Chrome (on Mac), see attached pdf files:
[Firefox-checklist.pdf](https://github.com/thedaviddias/Front-End-Checklist/files/5244267/Firefox-checklist.pdf)
[Chrome-checklist.pdf](https://github.com/thedaviddias/Front-End-Checklist/f

[2020-09-20 19:30] #414 closed

[2020-09-30 10:04] Klemart3D opened #422 "Some issues with some tag filters"
Some tag filters are no displaying any item (checked or no checked): META TAG, HTML TAG, CSS, PERFORMANCE and SOCIAL META.

Possibly related to: #283

[2020-09-30 10:10] Klemart3D opened #423 "For better accessibility, use different shade + color on priority pictograms"
It would be great to use on [website](https://frontendchecklist.io/) same [priority images](https://github.com/thedaviddias/Front-End-Checklist/tree/master/data/images/priority) as github's readme.

Only color difference can be hard to read for people with visual difficulties.

[2020-09-30 15:29] Klemart3D opened #424 "Different title between tools button and its SVG icon"
On [website](https://frontendchecklist.io/), seems not very understandable to have different title between an html tool button and the SVG icon associated. Eg, on mouse hover for "uncheck all" button :

![titles](https://user-images.githubusercontent.com/7419525/94706369-66104800-0342-11eb-9f11-25afbd2e7c8a.jpg)

[2020-10-01 00:00] thedaviddias commented on #423
Yeah, I changed on the Github readme but didn't change on the website. Will do asap.

[2020-10-01 09:57] Klemart3D opened #427 "Wrong notation calculation after everything is checked"
On [website](https://frontendchecklist.io/), when all items are checked, if I uncheck 1 item, notation become wrong (still "100" = A) but if I re-check this unchecked item (now all items are checked) notation turning back to "98" = B.

Better explanation with images:

STEP 1 :
<img width="1252" alt="1-uncheck" src="https://user-images.githubusercontent.com/7419525/94795000-0450ec00-03dd-11eb-9ca2-

[2020-10-09 13:34] SrikanthAlva commented on #427
Looks like the issue is fixed, yet the issue is open.

[2020-10-22 19:22] shivarajloni commented on #422
hey! can i contribute

[2020-10-22 19:23] shivarajloni commented on #427
hey! can i contribute

assign me

[2020-11-03 14:54] Klemart3D commented on #427
@SrikanthAlva Issue is not fixed, still reproducing on Firefox, Chrome and Safari.

[2020-11-03 14:57] Klemart3D commented on #423
Does website's sources can be added to GitHub to allow us to improve it?

[2020-11-03 15:37] tonygravell commented on #427
Am I able to contribute? If so how would I do that? Sorry I believe I'm happy to help just new with github's process. I forked the data but only recieved read me, code of conduct, etc. How do I receive the code to edit? Thanks for any help.

[2020-11-04 13:01] tonygravell commented on #427
How can I be assigned for this?

[2020-11-19 21:19] Klemart3D commented on #393
Please be patient @stale

[2020-11-29 16:20] Klemart3D commented on #424
:(

[2020-12-03 11:08] ShokhrukhbekYuldoshev opened #431 "Front-End-Checklist"

[2020-12-04 21:02] thedaviddias commented on #423
Of course, you can propose any PR if you want to.

[2020-12-05 10:56] Klemart3D commented on #423
Where can I found website's sources to propose PR to improve it?

[2020-12-07 10:18] lagstathis opened #432 "Thanks for the great work"

[2020-12-07 11:39] gurnoor-garry commented on #424
Hey
I wanna work on this issue. Could u please assign it to me?

[2020-12-07 14:12] #432 closed

[2020-12-07 15:47] thedaviddias commented on #432
Thank you @lagstathis! More to come sooooon!

[2020-12-07 15:47] #431 closed

[2020-12-14 13:52] mauriciabad opened #434 "HTML markup showing"
The website displays "\<code>lang\</code>" instead of "`lang`"

![](https://user-images.githubusercontent.com/12821361/102088664-861cb700-3e1b-11eb-9094-684a4d42f154.png)

[2020-12-22 08:07] Klemart3D commented on #422
Seems no activity. Can we found website source code somewhere to help to improve it?

[2020-12-26 10:27] onkar95 commented on #434
I would like to contribute it
I had fixed it

[2021-01-02 01:54] shrey27tri01 opened #436 "Google Structured Data Testing Tool is being shut down"
As per the official site:

Will create a PR fixing the link soon :)

[2021-01-06 18:13] Klemart3D commented on #427
Can someone try to reproduce this issue?

[2021-02-17 12:49] LordThiouk opened #438 "Ggg"

[2021-02-17 16:01] #438 closed

[2021-02-20 00:25] #424 closed

[2021-02-21 05:05] Bubba420G commented on #422
I'm lost !!!

Can somebody help ????

[2021-02-21 07:55] Bubba420G commented on #422
Are them tags suppose to go inside the HTML file itself ???

[2021-02-23 12:03] wschwaiger opened #439 "Add BatchSpeed under Performance Testing"
Please consider adding https://batchspeed.com under https://github.com/thedaviddias/Front-End-Checklist#performance-testing. Thank you.

[2021-03-03 14:15] #436 closed

[2021-03-07 11:44] alishahzil commented on #434
the issue is still available

[2021-03-18 05:16] Bubba420G commented on #427
I'm in need of help from the expert's before me thanks, Alot HOMIES Communication is Golden

[2021-03-29 13:15] Sharkgamedev opened #441 "Chrome dev-tools coverage link is broken"
Link for chrome Dev tools coverage in the section on removing unused css is broken.

[2021-03-30 15:53] notforyou666 opened #442 "FrontEnd Checklist"

[2021-04-01 09:36] #427 closed

[2021-04-04 12:14] #393 closed

[2021-04-07 21:26] naeempushia commented on #434
the issue is still available[,](https://weldingzilla.com/) or are you solved this?

[2021-04-15 21:41] Hassiel opened #444 "Front end checklist"

[2021-04-17 15:44] VityaSchel opened #445 "why is there two "Responsive web design" items?"
<img width="937" alt="what" src="https://user-images.githubusercontent.com/59040542/115118643-3ca0cc00-9fb5-11eb-94b7-5ebccbacb410.png">

[2021-04-17 16:14] Ryan-da-ghost commented on #445
The second one says `TESTING` , Regarding to that , I'm sure the **Responsive web design** is a catergory.

[2021-04-18 04:39] #445 closed

[2021-04-18 17:16] Ryan-da-ghost commented on #444
This should be closed ...

[2021-04-21 14:42] Ryan-da-ghost commented on #442
Common

[2021-04-24 14:58] Ryan-da-ghost commented on #439
Stale bot is very annoying

[2021-05-02 22:38] #423 closed

[2021-05-03 11:02] cricket1100 commented on #422
can i contribute?

[2021-05-16 19:06] will479 opened #446 "Hi"

[2021-05-17 05:11] Ryan-da-ghost commented on #446
Bruh

[2021-05-17 06:36] chewy917 opened #447 "https://savannah.gnu.org/projects/gnustandards"
F1ef4b27-8f5f-10ca1ad1abe1

[2021-05-17 12:17] sxuzan opened #448 "Abc"

[2021-05-17 14:39] donnybaby-hub opened #449 "Looking to navigate around issues with overlapping devices what is primary fire fox browser versus Apple product"

[2021-05-17 14:42] donnybaby-hub commented on #449
I guess hierarchy of the voices versus software hardware versus software hierarchy what takes precedent in terms of saving passwords etc. operating system hierarchy sorry thinking out loud here￼

[2021-05-18 00:49] friezaii69 commented on #439
Can I contribute

[2021-05-18 12:56] donnybaby-hub commented on #449
Awesome thanks!

[2021-05-21 03:16] thedaviddias commented on #441
Closing this issue as it's now fixed.

[2021-05-21 03:16] #441 closed

[2021-05-27 09:05] Sanyam17-beep commented on #434
im new to this can anyone help me

[2021-05-27 18:04] thedaviddias commented on #434
Hey everyone, sorry for the silence. I will fix this in my next PR.

[2021-07-16 12:32] #422 closed

[2021-07-23 15:19] SaGoot opened #457 "Теги"

[2021-07-25 08:42] 9ebd7134 commented on #457
What

[2021-07-31 06:53] #439 closed

[2021-07-31 20:38] #449 closed

[2021-08-10 19:43] #434 closed

[2021-08-18 06:56] nthanhlong opened #460 "Front-end checklist"

[2021-08-18 06:57] #460 closed

[2021-08-24 17:08] DanielSuarezDev opened #461 "design ux/ui"
Hola soy de colombia frontend developer,

Me gusta mucho este proyecto por lo cual seria mi primera contribución y  aparte de codigo soy diseñador web y me gustaria rediseñarla ¿que piensas?

🚀 despues de rediseñarla en figma yo mismo hacerlo en codigo

Hi, I'm from Colombia frontend developer,

I really like this project so it would be my first contribution and apart from code I am a web designer

[2021-09-14 05:57] #447 closed

[2021-10-07 10:37] #457 closed

[2021-11-07 01:55] #461 closed

[2021-11-08 10:07] Klemart3D opened #464 "Title of videos in details are bigger than other docs/tools titles"
Sometimes YouTube videos are "Documentation", sometimes they are "Videos". When it's Videos, the title displayed is bigger than other resources titles:

![video](https://user-images.githubusercontent.com/7419525/140722981-98dea438-12ca-4062-b39d-ff68b2caac2d.jpg)

[2021-11-10 10:35] georgebawesome opened #465 "Add theme color meta tag (Feature request)."
Not an issue, a feature request.
Please create a checkbox for adding theme color. Like,
```<meta name="theme-color" content="#fafafa">```

MDN Reference - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color

[2021-11-12 13:22] alamsameer commented on #465
hii @georgebawesome  can you assign to me so i can work on it

[2021-11-12 13:33] alamsameer commented on #465
And i am new to open source and if we can discuss little bit about this ,that would be easy to work on this.

[2021-11-13 02:39] georgebawesome commented on #465
Ofcourse, since the project is open source, you can fork it and create a pull request. There is no need of assigning.

[2021-11-13 10:45] georgebawesome commented on #465
Now on PR #467

[2021-11-17 16:42] Aditya123987 commented on #464
I have commited changes and fixed the font size of video titles . I am new to open source so now what should i do next?

[2021-11-20 11:40] Aditya123987 commented on #464
Sir, i have worked on it and submitted my pull request. I am new to open source . Can you guide me what to do next??

[2021-12-02 16:40] DawnArchi01 commented on #464
Hey @Klemart3D , I want to work on the issue

[2022-01-31 01:46] #465 closed

[2022-02-17 01:17] digitalfu opened #475 "frontendchecklist.io links to NSFW content (thedaviddias.me)"
Please label with a suitable warning or merge [#474](https://github.com/thedaviddias/Front-End-Checklist/pull/474/files) and buy @BenjaminMichaelis a beer (offline).

Also, it's worth considering the point below which has since been included in [Contributor Covenant](http://contributor-covenant.org/):

[2022-02-20 04:39] #464 closed

[2022-03-24 16:49] Jesuuelx commented on #7
hjbhj

[2022-03-31 00:31] reachmarsel opened #476 "FE_Checklist"

[2022-04-10 13:09] agvaro opened #478 "Front-End-Chacklist"

[2022-04-10 13:09] #478 closed

[2022-04-27 06:40] DavidMorenoDev commented on #475
Yeah is a porn paga :/

[2022-06-03 19:56] thedaviddias commented on #475
@DavidMorenoDev the issue is now fixed in production! Thanks for the patience!

[2022-06-03 20:00] #475 closed

[2022-06-28 06:21] RaviAnand111 opened #485 "Dark Mode for the website"
I think the website is awesome but for usage for long duration of time, dark mode is needed. So I would like to add dark mode in the website.
Thank You

[2022-07-07 00:57] Rudxain opened #486 "favicons can be SVG"
The `<link rel=icon>` element supports `image/svg+xml` value at the `type` attribute, why is this information not present in the `README.md`? Modern browsers already support SVG icons, although they're not recommended for legacy browsers

[2022-07-12 05:13] #476 closed

[2022-08-09 17:40] Harixomxsingh commented on #485
Hey, I'm Interested and I cloned the project but didn't find the code where the HTML, CSS, and JS file is. I only see the image, can you please explain were all the code are store so I can contribute

[2022-08-12 05:05] farhandotdev opened #488 "CSS Grid"
Adding the css grid checklist.

[2022-08-12 05:22] kumarsanu2002 commented on #488
Hii ,@farhandotdev .Let me know if i can do this. It would be my first contribution.
And let me know where to make changes and what changes.

[2022-08-12 05:46] farhandotdev commented on #488
Go through the repo's url link and see what you want to changes @kumarsanu2002 , and then first you should clone the repo and then **make your own changes file**. And after that you make a pull requests.

[2022-08-12 05:49] kumarsanu2002 commented on #488
Ok @farhandotdev . I will do it by today.
And thanks.

[2022-08-17 10:39] Jayteezany commented on #488
Hello Man, let me help fix the problem.

[2022-08-18 05:25] Jayteezany opened #489 "Image elements do not have explicit width and height"
I realized that image element does not have explicit width and height i would like to fix it.
![image](https://user-images.githubusercontent.com/101563959/185300516-20762390-d8a0-4e39-b3be-63c7bdfa6cb6.png)

[2022-08-27 18:14] faha1999 commented on #489
`<img width="100%" height="40" alt="" src="your_url">`
or
`<img width="40" height="40" alt="" src="your_url">`

define the width and height of the image using the **width** and **height** attributes.

[2022-08-28 19:56] Adel304 opened #490 ".."

[2022-09-04 22:01] OnonobiFavour commented on #488
Hello, I can help fix this

[2022-09-07 16:58] farhandotdev commented on #488
sure do it!

[2022-09-07 16:58] farhandotdev commented on #488
sure do it!

[2022-09-15 21:50] SROOchan opened #491 "sudan"

[2022-09-15 21:51] SROOchan commented on #491
Website Designer

[2022-09-15 21:54] #491 closed

[2022-09-21 01:28] Zeinshirou04 commented on #489
or sometimes for me, if i want to make all the img have the same width, i use css such
`img {
    width: 20%;
}`
so i dont have to define all the img width one by one

[2022-09-21 06:03] kaushalyaghadge commented on #489
I would like to help to solve this issue

[2022-09-25 13:57] trishit78 commented on #485
Hello, is this project still open?? if yes ,I would love to work on this, and see if I can contribute to the project.
I am a first timer to contribute in open source...

[2022-09-25 13:57] trishit78 commented on #486
Hello, is this project still open?? if yes ,I would love to work on this, and see if I can contribute to the project.
I am a first timer to contribute in open source...

[2022-09-25 13:58] trishit78 commented on #489
Hello, is this project still open?? if yes ,I would love to work on this, and see if I can contribute to the project.
I am a first timer to contribute in open source...

[2022-09-26 13:57] therushikale commented on #489
<img  src="img_url" width="100%" height="100%" alt="img_name"  >

So the <img> tag  holds the whole space for the referenced image.

[2022-09-26 15:51] trishit78 commented on #489
Am I assigned for the issue?
Thank you :)

On Mon, Sep 26, 2022 at 7:27 PM Rushikesh kale ***@***.***>
wrote:

[2022-09-26 16:02] therushikale commented on #488
@thedaviddias hey , we would like to take up this issue and solve it.
Contributors: @KhanSumaiyaS@Komalkale25@Raghavvvv

[2022-09-26 16:02] therushikale commented on #486
@thedaviddias hey , we would like to take up this issue and solve it.
Contributors: @KhanSumaiyaS@Komalkale25@Raghavvvv

[2022-09-26 16:03] therushikale commented on #489
@thedaviddias hey , we would like to take up this issue and solve it.
Contributors: @KhanSumaiyaS@Komalkale25@Raghavvvv

[2022-09-26 16:05] #490 closed

[2022-09-26 16:07] therushikale commented on #488
@thedaviddias@farhandotdevhey , we would like to take up this issue and solve it.
Contributors: @KhanSumaiyaS@Komalkale25@Raghavvvv

[2022-09-26 16:07] thedaviddias commented on #488
@therushikale Stop spamming!

[2022-10-01 22:10] Oluthefirst opened #492 "Buttons"
Buttons cursor should be set as pointer to show users it is clickable @JeffreyATW

[2022-10-01 22:11] Oluthefirst commented on #492
I would love to add this fix

[2022-10-03 04:09] mnosov622 commented on #492
Hello @Oluthefirst !

Can I work on this issue, please ?

[2022-10-11 07:22] ram-chinni commented on #485
Just open the GitHub there you can see a three dots line , just click on
that download the zip file of your code and then extract it , then open in
your visual studio code that file.

On Tue, 9 Aug 2022, 11:12 pm Hari Om Singh, ***@***.***>
wrote:

[2022-10-12 22:24] shubhamjain1922 opened #494 "Site performance"
Site performance score is low at around 45. I would like to work on it and make it better. So please assign the issue to me.

[2022-10-14 10:19] therushikale commented on #486
Hello sir,
Am i assigned for this issue? will you confirm it.

[2022-10-14 13:35] jayakanthansubramani commented on #492
can i work on this issue?

[2022-10-21 05:48] its-abhishek commented on #492
I want to work on this

[2022-10-21 09:16] KhanSumaiyaS commented on #485
Hey, I would like to take this issue and want to contribute in the project and would like to work on this issue, please assign me the issue @RaviAnand111

[2022-11-08 19:27] NikaShabashvili03 opened #499 "Extra css category"
I am going to open new pull request and fix this problem

[2022-11-12 04:03] Gitgody opened #500 "<!-- **Esta es una plantilla para que dejes dudas que no son cubiertas por las plantillas existentes. Recuerda utilizar la pestaña "Preview" para ver cómo se vería tu *issue* antes de publicarla.** -->"
### Prerrequisitos
(Marcar colocando una X entre los corchetes los ítems que ya hiciste, así: "[X]")

* [X] Leí las reglas del foro (https://github.com/IIC2233/syllabus/issues/1).
* [X] Busqué en las *issues* si ya preguntaron mi duda y no encontré nada parecido (https://github.com/IIC2233/syllabus/issues).
* [X] Mi duda no se trata de un tema administrativo o personal, ya que en ese caso debo con

[2022-11-12 04:03] #500 closed

[2022-11-17 17:14] Akashzxr commented on #492
is anyone working on this issue?

[2022-11-25 06:20] FrozenHearth opened #502 "Suggestion: Add a table of contents for easy navigation."
Similar to this: https://github.com/sudheerj/javascript-interview-questions#table-of-contents

Right now, it's difficult to navigate. Adding a table of contents would make the navigation simpler.

[2022-11-30 15:52] fatimakay commented on #485
Hi, I cloned and downloaded this repo but couldn't find the HTML/CSS files. I'd like to work on this but facing this problem like many others